[2015-06-16 07:46] lvh opened #1 "Running the tests exactly once?"
First off, thanks a lot for doo; it's a fantastic tool :) While it works really well for development (since it watches and automatically runs the build), is there a way to get it to just run once, i.e. for CI?

[2015-06-18 16:19] bensu commented on #1
I just published `[0.1.1-SNAPSHOT]` which includes an extra argument to the command line: `once`; details in the README. Please let me know how it works before we close this issue.

[2015-06-18 17:09] lvh commented on #1
Works a charm! Thank you so much :)

[2015-06-18 17:09] #1 closed

[2015-06-18 22:44] lvh opened #2 "Runner script no longer gets run..."
When trying 0.1.1-SNAPSHOT on a different project, the runner script no longer gets run... https://gist.github.com/lvh/351566fe6a6ca2ed86e0

I can't figure out what's special about it; any idea where to start? The problem does go away when switching to the old version of doo, though...

[2015-06-18 22:53] lvh commented on #2
Note that it breaks with both `once` and implicit/explicit `auto`, so I guess I'll start digging how the two differ in behavior when `auto` is set.

PhantomJS is definitely running:

[code]

[2015-06-19 01:06] lvh commented on #2
Trying to figure out how this works; `set-exit-point!` doesn't appear to be called from anywhere?

[2015-06-19 01:36] lvh commented on #2
I've tried killing a bunch of the test ns'es to make sure it had nothing to do with that, but that didn't fix anything either...

[2015-06-19 08:26] bensu commented on #2
This issue is not related to `once`|`auto` but to `set-exit-point!`:

To return the correct error code I had to change how `set-exit-point!` works. It is still set from [`unit-test.js](https://github.com/bensu/doo/blob/master/library/resources/runners/unit-test.js#L91) but is now called from [`cljs.test/report`](https://github.com/bensu/doo/blob/master/library/src/doo/runner.cljs#L36). This report

[2015-06-19 08:31] bensu commented on #2
Maybe I should call this packages `doo/doo` and `doo/lein-doo` just like figwheel does.

[2015-06-19 17:18] lvh commented on #2
OK, cool; I'm not sure what I changed, but I have a minimal case that *does* work now, so I'm slowly adding things back...

[2015-06-19 18:04] lvh commented on #2
... which I can't reproduce anymore, in which I'm wishing I wasn't on OS X, but on something with FS COW snapshots :( I'm working on the minimal broken example and I'll upload it Soon(TM) :) Thanks so much in advance!

[2015-06-19 18:06] lvh opened #3 "Require the test namespaces as part of the doo-tests macro"
Right now, you have to manually require namespaces before you can pass them to the doo-tests macro. It seems like the doo-tests macro could produce a `(require ~@namespaces)` forms?

[2015-06-19 18:06] bensu commented on #2
If you can't reproduce it in the complete repo, the error probably came from a stale `runner.cljs`/`runner.js` file.

[2015-06-19 18:08] bensu commented on #3
Seems like nice sugar to have. I'll check if there are any caveats with the approach before adding it.

[2015-06-19 18:08] lvh commented on #2
Yep, it seems like killing that file helps.

[2015-06-19 18:10] bensu commented on #2
That probably means that your `lein clean` is not reaching some of the compiler's intermediate files. Check again your `:clean-targets`, otherwise you wouldn't have the stale file there.

Close this issue when you are sure.

[2015-06-19 18:14] lvh commented on #2
Wooo! Yep, right on the money. I could've sworn that I had nuked `target/` before, but maybe only while using the old `(lein-)?doo`.

clean-targets does look like it's missing something:

[code]

... so I changed that to the obvious:

[code]

... but that still leaves all the cljsbuild stuff around, including, notably:

[code]

... so I guess I'm going to go look up the docs for clean-targets :) T

[2015-06-19 18:18] bensu commented on #2
I've never seen the nested vector form, but it looks like `:target-path` is missing, which by default is anything under `/target`

[2015-06-19 18:18] #2 closed

[2015-06-19 18:23] lvh commented on #2
Cool, thanks! Reported upstream to see if we can fix this for other people. Thanks so much for helping me debug this :)

[2015-06-19 18:43] bensu commented on #3
Requiring namespaces outside of the `ns` form is not supported by the compiler.

[2015-06-19 18:43] #3 closed

[2015-07-10 09:51] crisptrutski opened #7 "No output from slimerjs runner"
Despite the workaround for `https://github.com/laurentj/slimerjs/issues/223` of using `window.callPhantom`, I'm not seeing any test results for the `slimer` option.

Have tried this with two projects, and in both cases only the `slimer` option is silent.

Any ideas?

[2015-07-10 16:22] bensu commented on #7
One options is that Slimer is not terminating (maybe due to faulty async tests). The output is flushed out when Slimer terminates. If it never does, you won't see anything.

I'll happily look at a minimal case and debug from there.

[2015-07-11 20:01] crisptrutski commented on #7
Turns out my installation of slimerjs had rotted - even `slimerjs --version` was mute. Reinstalled fixed, and working great with doo now :)

[2015-07-11 20:01] #7 closed

[2015-07-15 18:13] crisptrutski opened #8 "Add explicit "runner not installed" errors"
As you demonstrate in https://github.com/bensu/doo#setting-up-environments, there are simple checks to test whether underlying runners are installed.

For a user-friendlier experience, perhaps these exact checks should be performed by the application, so that friendlier error messages (or even installation instructions) can be shown.

Motivation for this comes from when a default runner is bundled

[2015-07-15 18:20] crisptrutski opened #9 "Run set of explicit tests only"
It would be convenient to be able to run only specific tests, rather than whole namespaces. This would be particularly useful with downstream tooling eg. rerunning failing tests first on save, or only the tests that call the given function.

Expect the method would take vars, ie. `(doo-test-vars #'ns/test-1 #'ns/test-2)`, as I don't believe something like `resolve` exists in Clojurescript.

[2015-07-15 18:21] crisptrutski opened #10 "Browser test runner(s)"
Interested in adding this? Thinking a QUnit style "refresh and read it" to start with, but this could be extended to drive Karma or a custom reporter to gather those stats back in the console.

[2015-07-15 18:25] crisptrutski opened #11 "Support `:optimizations :none`"
Given the benefits both for compilation and evaluation times in a tight feedback loop, it would be great to support this compilation mode simply out of the box.

Solutions have been offered at https://github.com/mike-thompson-day8/cljsbuild-none-test-seed

[2015-07-15 18:38] crisptrutski commented on #8
`rhino -help` seems to have return code `1`, so going with `echo "" > rhino` instead for that case.

[2015-07-15 19:18] bensu commented on #9
I've thought about the following:

    lein doo slimer test only ns/test-1 ns/test-2

[2015-07-15 19:21] bensu commented on #11
This is definitely on the roadmap but not trivial to do. With this reference it will be much easier, thanks!

[2015-07-15 19:26] bensu commented on #8
I'm all for the check if `doo` is a transitive dependency but the checks offered in the README are not the way. The startup time of Rhino and Slimer are substantial. If we can figure out a clean way to check after the fact if the runner was not installed, this would be great.

Maybe a regex against the console output to check for "command not found", but that would be very OS dependent.

[2015-07-15 19:28] crisptrutski commented on #8
Maybe just detecting that the process exited without running the entry point function? Simple and agnostic

[2015-07-15 19:34] bensu commented on #10
I don't have any experience with Karma or QUnit but I'll check them out.

I have thought about this but haven't decided. My issue is with the page reloading, bringing something like Figwheel in (or any browser coordination) would make `doo` very big. My only idea so far is to offload everything to [devcards](https://github.com/bhauman/devcards)

[2015-07-15 19:44] crisptrutski commented on #11
No problem - here's [more discussion](https://github.com/cemerick/clojurescript.test/issues/75#issuecomment-121367967) if you're interested

[2015-07-15 19:44] crisptrutski commented on #10
Devcard tests are pretty nifty, but unless you're talking about generating the card code itself, not much missing there :smile:

Re: QUnit, really just suggesting something as basic as this: https://github.com/mike-thompson-day8/cljsbuild-none-test-seed/blob/master/test.html#L69-L79

Perhaps all that's needed here is support for custom commands. Fancier runners can be separate tasks that just pick

[2015-07-15 19:57] bensu commented on #8
An error code of 127 [seems to be universal](http://www.tldp.org/LDP/abs/html/exitcodes.html) for command not found:

[code]

[2015-07-15 21:25] #8 closed

[2015-07-15 21:29] bensu commented on #9
We'll add support for `doo-test-vars` and `doo-test-var` when [cljs-1267](http://dev.clojure.org/jira/browse/CLJS-1267) is finalized. The `only` option from the command line will be treated separately.

[2015-07-15 21:32] bensu commented on #8
The fix was deployed under `[0.1.3-SNAPSHOT]`

[2015-07-23 23:36] moea commented on #11
I looked into this a little - that crazy Javascript is for the case where the build has no `:main`.  At least with 3308 (which I think you're requiring), if a build targets `:nodejs`, has a valid `:main`, and a relative `:output-dir`, the generated module works fine with the `eval` based node runner you currently have.

i.e.

[code]

This seems more than good enough, given that `:main` is part of

[2015-07-23 23:51] bensu commented on #11
Thanks!

I've already started working on this. I also thought that the node runner would work, but then when I tried it, it failed. Can you supply a small example where `lein doo node test` or `(run-script ... ...)` works for `:optimizations :none`?

If that is the case, I'll drop the `:none` requirement for node. The rest of the runners are still an open issue though.

[2015-07-24 00:01] moea commented on #11
`lein doo node test` works for me in this slightly-modified version of your example project: https://github.com/bensu/doo/compare/master...nervous-systems:none-example

[2015-07-25 20:28] bensu commented on #11
Great, thanks! I could reproduce this. I'll lift the restrictions for node soon, I'll first keep trying with the rest of the runners, and if I don't get very far I'll make `(and node? none?)` the exception.

[2015-07-26 15:54] bensu commented on #11
`:optimizations :none` for node was added in `0.1.4-SNAPSHOT` (deployed). Hopefully I'll incrementally add `:none` support for the other runners in this SNAPSHOT release.

[2015-07-27 18:39] jeluard opened #13 "Allow leiningen plugin to test with multiple js-envs"
It would be nice to have some special syntax to support running tests with multiple `js-env`.

e.g.

[code]

[2015-07-27 23:33] bensu commented on #11
I pushed another `0.1.4-SNAPSHOT` that adds `:none` support for both `slimer` and `phantom`. @moea @crisptrutski would you mind trying it? There are many changes, and some things may break.

[2015-07-27 23:39] bensu commented on #13
Definitely on the roadmap. I was thinking both

   lein doo [phantom, slimer] test

but also optional in `project.clj`

:doo {:engines [:node :rhino]
         :browsers [:phantom :slimer]
         :all [:engines :browsers]}

so then

    lein doo engines functional-test

    lein doo browsers dom-test

[2015-07-28 02:19] jeluard commented on #13
Nice! I actually like the second option better.

[2015-07-28 23:48] bensu commented on #13
After thinking about it, I thought we might start wtih this:

     lein doo browsers test

which runs the script in `slimer` and `phantom`.

The current supported js-environments and compiler restrictions don't allow for much more. For example, `rhino` and `node` can't currently run together because of compiler restrictions on `node`. I'll revise this whenever I add a new js-env or lift a compiler

[2015-07-29 08:57] crisptrutski commented on #11
While I can run your examples using the lein plugin, no joy yet hooking this up with boot.

One thing I've noticed is that the generated `testable.js` contains relative paths, but even manually updating this file, or executing the runner script from the generated file directory does seem to work correctly - the `ClojureScript could not load :main, did you forget to specify :asset-path?` error is k

[2015-08-01 01:44] jeluard commented on #13
I just gave it a shot and it works fine! I guess this implementation makes sense with current runners.

One thing that you might want to add is some output indicating which runner is running when using `browsers`.

[2015-08-01 10:09] bensu commented on #13
I [did](https://github.com/bensu/doo/blob/master/plugin/src/leiningen/doo.clj#L130)!

Try it again after cleaning `~/.m2/repositories/doo` and let me know if you can't see "Testing with Slimer"

[2015-08-01 13:14] jeluard commented on #13
Actually I am using `doo` in `once` mode and it appears it's not displayed here.

[2015-08-01 13:39] #13 closed

[2015-08-01 13:40] bensu commented on #13
That's right, thanks for the report. The fix is deployed.

[2015-08-01 14:11] jeluard commented on #13
Great!

[2015-08-02 13:18] crisptrutski commented on #11
@bensu had a chance to look at this again, and found the issue.

Essentially when using `boot` you need to use relative paths, because the file paths are not fixed (they're temp directories during tasks but then are written to `:target-path`). This means that the `testable.js` style file can't practically use absolute paths.

This would not be an issue, except that the base URL for `pagePath` is t

[2015-08-04 19:34] bensu commented on #11
In theory `doo.core/run-script` should support both absolute and relative paths. In practice this is a little more complicated, since the compiler and the environments have some quirks. The strategy so far was to take everything to absolute paths under `/tmp` and work from there. The value in unification was it was easier to reason about.

This week I'll refactor `doo.core` so that it works with b

[2015-08-04 22:12] crisptrutski commented on #11
Makes sense, and looking forward to your solution. Just to note that the PR provided allows boot-cljs-test to work perfectly already, without breaking the lein plugin. But if there are deeper problems unresolved, have no objection waiting for your solution.

[2015-08-05 19:35] bensu commented on #11
I just published your changes. My internal refactoring should keep no one waiting. I'll move this discussion to a new issue, about allowing for both absolute and relative paths consistently.

[2015-08-05 19:35] #11 closed

[2015-08-05 19:36] bensu opened #15 "doo.core/run-script should accept both relative and absolute paths consistently."
There are artificial restrictions on `:output-dir` for `:none` for Slimer and Phantom.

[2015-08-05 20:08] crisptrutski commented on #11
Awesome! Thanks a lot :bow:

[2015-08-06 06:08] rmoehn opened #16 "Clashes with React?"
I was a bit desperate, not finding much information about how to run tests with `cljs.test`. So I used the friendly `cemerick.cljs.test` until I came across your plugin and was quite happy. However, a setup very similar to my `cemerick.cljs.test` setup before gives me this error:

[code]
It seems like there's some problem with React, even though the one test I have now uses only plain `clojure.cor

[2015-08-06 14:22] bensu commented on #16
Can you show me the test runner?

My guess is that in one of your files, you have a top level form that tries to render React components. If you use om:

[code]

For some reason, `cemerick.test` didn't pull that namespace in during compilation (maybe `cljsbuild` vs `cljs.build.api` behavior, or `cemerick.test/run-tests` vs `cljs.test/run-tests`), but now `doo` does. So, when it runs your script,

[2015-08-06 23:40] rmoehn commented on #16
Thanks for the quick reply! The test runner looks like this:

[code]

I just saw that its file was in the wrong place, but that shouldn't be cause. Your diagnosis sounds spot-on. The render function is called at the top level indeed. I will try your solution next week.

[2015-08-07 00:20] bensu commented on #16
The runner looks fine, as long as `theatralia.t-thomsky` doesn't pull in the render function. Come back if you run into any more trouble.

[2015-08-09 20:44] bensu commented on #10
@crisptrutski I got Karma working with Chrome, Firefox, and Opera. We are entering the `npm` land and I need to make some API decisions. Do you already have a `package.json` in your files or would you rather avoid that?

[2015-08-10 11:56] crisptrutski commented on #10
@bensu occasionally I use [jspm](https://github.com/jspm/jspm-cli) when using javascript directly off github releases, which introduces an explicit `package.json` file. Use of [lein-npm](https://github.com/RyanMcG/lein-npm) is quite prevalent for vanilla npm usage - it is even included in mies. This then takes the approach of *generating* the package.json.

I think being tolerant but agnostic woul

[2015-08-10 12:42] bensu commented on #10
It's hard to deal with a config file that can be *both* machine generated *and* user edited. From what I gather the best approach is to document and allow three possibilities:

* Easy global installation through `npm install -g karma` (requires a flag).
* Indirect config through `lein-npm` (requires *figuring it out*).
* Manual config of `package.json` by the user (requires good docs).

I'll keep

[2015-08-10 12:49] crisptrutski commented on #10
No problem, and good call on avoiding avoidable magic :star2: :zap:

[2015-08-11 18:55] cldwalker opened #17 "clojurescript 1.7 vswap! failure"
Hi @bensu. When I try to use this with a project generated from `lein new mies` using clojurescript 1.7.48 I get the following error:

[code]

I'm just doing a basic cljs test and using a runner as given in the readme. This failure also occurs with slimer. If I change to clojurescript "0.0-3308", I have no issue. My project.clj looks like this:

[code]

Let me know if I can provide anything more t

[2015-08-11 20:27] bensu commented on #17
Can you try again without using `:aot` dependencies? From afar it looks like `data.json` is pulling in a pre `1.6` clojure.

[2015-08-11 20:47] crisptrutski opened #18 "Usage via boot-cljs-test broken during changes to add Karma"
Haven't tried to understand the error yet, or looked at your changes, but have verified that still working after #13 and broken on master.

Here's the stracktrace:

[code]

Am just calling doo like so: `(doo.core/run-script :rhino) "/super/long/boot/temp/path.js"`

[2015-08-11 20:47] crisptrutski commented on #18
Ah, I see the method signature has changed :)

[2015-08-11 20:49] #18 closed

[2015-08-11 20:51] bensu commented on #18
I'm sorry! I didn't deploy it to clojars since it is still wip. I guess I should *start* by bumpling the version.

[2015-08-11 20:52] bensu commented on #18
Also, I'm not sure about how to handle that signature, hard to say how much should `doo.core/run-script` know about compiler options.

[2015-08-11 20:54] bensu commented on #18
`01.5-SNAPSHOT` on master. The last change to `0.1.5` will have a corresponding stable release.

[2015-08-11 20:56] crisptrutski commented on #18
Awesome thanks!

Perhaps push out 0.1.4 with the pre karma version too? That's tied to my last boot-cljs-test version.

Hadn't thought about `run-script` needing more compiler options, but will look closer at your changes and think about the ideal API

[2015-08-11 21:08] bensu commented on #18
`0.1.4` deployed to clojars from the branch `release.1.4`. The last commit is your PR.

In the future, I'll work on a feature/version branch, so that master reflects the last deployed artifact.

[2015-08-11 21:11] cldwalker commented on #17
Good call. My bad

[2015-08-11 21:11] #17 closed

[2015-08-11 21:19] crisptrutski commented on #18
Much appreciated :ghost:

[2015-08-11 22:06] cldwalker opened #19 "Making lein-cljsbuild optional"
Would you be open to supporting non lein-cljsbuild workflows that use `:doo` or `:cljsbuild` in project.clj? Considering that cljs.test comes with clojurescript, this library could be a go to for the bare metal workflow dnolen is encouraging with mies. Depending on if we use `:doo` or `:cljsbuild`, we would have to detect the presence of lein-cljsbuild. As for reimplementing cljsbuild fns, `config

[2015-08-11 22:17] bensu commented on #19
@cldwalker you should join the slack channel, #clojurescript. We've been discussing this issue to death with @bhauman and @shaunlebron. `lein-cljsbuild` is on its way out, and `doo` only uses it to get some things from the config, and without the user. Changes are coming but it is still not clear *how*.

For refence look at [lein-cljs](https://github.com/bensu/lein-cljs).

[2015-08-12 00:22] crisptrutski opened #20 "Support :none compilation with Rhino"
Perhaps my googling was just weak, but was unable to find a good shim to use Rhino with `{:optimizations :none, :main 'some.ns}` style builds, or to alter the builds to "just work" with Rhino.

Came up with a _very hacky_ modification (paste at the top) to the runner script to get this working:

[code]

Note that `{:output-dir ...}` from the CLJS compilation options is used (know you were interest

[2015-08-12 08:34] bensu commented on #20
We could try out but I wouldn't want to run it for every other optimization mode. I'll think about the best way to communicate to the runners the compiler settings so that they can make decisions. This might open new possibilities in every runner.

Also, we need to find a reason to support rhino `:none` besides "for completeness sake". It might not be worth the trouble if people never use it.

[2015-08-12 09:50] crisptrutski commented on #20
Passing in the options is interesting, but not sure the best way to pass named arguments in - positional would be awkward and hard to extend.

I'll add an error in `boot-cljs-test` for this combination - unfortunately wasted some time looking in completely the wrong direction last night stumbling on this and thinking it was a regression due to `boot-clj` updates, and would spare others the pain.

[2015-08-12 09:57] bensu commented on #20
Are you talking about [this](https://github.com/bensu/doo/blob/master/library/resources/runners/rhino.js#L32)?

The check for "what has been properly loaded" should be more comprehensive. The only thing that prevented me was that it would be the exact same code in every runner and I hadn't figure out how to share code among the runners (still can't!).

[2015-08-12 09:57] bensu opened #21 "Share code between runners"
It would make it easier to extend them, for example by improving the error messages on what namespaces were properly loaded.

[2015-08-12 10:02] crisptrutski commented on #21
Just load a `common.js` file the same way each runner loads the compiled tests file?

[2015-08-15 02:39] rmoehn commented on #16
Sorry for leaving this open for a long time. I will get to trying it out eventually.

[2015-08-15 14:18] cldwalker commented on #19
lein-cljs is great as a minimal replacement of lein-cljsbuild but even that plugin seems at odds with David's workflow. While I can see the advantage of coupling doo to lein-cljs for user-friendliness, I'm not sure if it's worth losing users who use David's workflow.

[2015-08-16 22:40] bensu commented on #10
I have just deployed `0.1.5-SNAPSHOT` with Karma support and updated docs. @crisptrutski do you want to give it a spin before we close this issue? It would be great if you could test it with Safari!

[2015-08-16 22:43] bensu commented on #19
Users who use the scripts workflow will be more comfortable using the library part of `doo`. Maybe your concerns can be address by properly documenting `doo.core/run-script` and how to write scripts that leverage it. `lein-doo` can't cater to David's workflow by definition :)

[2015-08-16 22:45] bensu commented on #13
@jeluard `0.1.5-SNAPSHOT` has support for many browsers, so I added the `:alias` option to cover your needs (see the Alias in the README). Also, the alias `browsers` is now changed to `headless`.

[2015-08-17 00:46] crisptrutski commented on #10
Hey Sebastian,

Awesome that you've put so much thought and work into this - a really great feature :smile:

Was able to get this working with some hacking around, but it didn't work out of the box yet with boot.

1. Expand `output-dir` from current fileset to an actual absolute path (fair enough)
2. Edit the main compiled js file, which is using `:none` so bootstrapping via other files, to have "

[2015-08-17 09:15] bensu opened #22 "Make Karma generated script a temp file"

[2015-08-17 09:16] bensu opened #23 "Print Karma's output as it happens to show when it hangs"

[2015-08-17 09:17] bensu opened #24 "Improve Karma reporting"
The `cljs.test/report` methods are not very readable due to Karma's logging facilities.

[2015-08-17 09:18] bensu commented on #10
Great feedback! Thanks!

I'll take your concerns one by one and make individual issues to address them:

1. `output-dir`: will be handled sooner than later (#15), I recently noticed that the `cljsbuild` extract option introduces some problems.
2. I don't know why that wouldn't work, did you have to specify `asset-path`? Can you elaborate?

1. I don't control the karma runner. The code generation i

[2015-08-17 12:39] jeluard commented on #13
Thanks for the heads up!

[2015-08-20 13:19] ricardojmendez opened #25 "Feature request: add a way to inject javascript references"
When running tests on doo, it'd be ideal to have a way to inject some Javascript libraries. For instance, Jayq expects you to have linked to the jQuery library from your page, so we'd need to inject it into the tests.

I'm using phantom, but expect this is something desirable for others as well.

[2015-08-20 13:20] bensu commented on #25
Is it okay to add it as a `<script src="path/to/jquery">` ?

[2015-08-20 14:17] ricardojmendez commented on #25
As discussed on the chat: yes, adding a script link directly on the test html is file.

[2015-08-25 01:37] rmoehn commented on #16
Yup, hiding the render function works. Thanks a lot!

[2015-08-25 01:37] #16 closed

[2015-09-07 08:29] bensu opened #26 "Make :main compatible with Figwheel"
There are three ways to specify `:main`:

1. `:main 'app.core`
2. `:main app.core`
3. `:main "app.core"`

We should support all of them. As noticed by @teaforthecat we currently don't support 2. which is Figwheel's preferred method.

1. Is important since it is used in scripts for the compiler, and beginners will probably paste those to `project.clj`.

[2015-09-15 21:04] johanatan opened #28 "Only :as and :refer options supported in :require / :require-macros;"
[code]

My runner looks like so:
[code]

[2015-09-15 21:50] bensu commented on #28
There is a typo in the ns declaration: `:refer-marcos` should be `:refer-macros`.

Let me know if you have any more problems :)

[2015-09-15 21:51] johanatan commented on #28
Hahaha! Doh! Thanks so much!

[2015-09-15 21:51] #28 closed

[2015-09-16 10:40] jori-ahvonen commented on #25
+1

[2015-09-16 14:52] crisptrutski commented on #25
As an interim measure - how about just including `cljsjs/jquery` as a test dependency (and requiring it in your runner)

[2015-09-18 15:38] xcthulhu commented on #25
@crisptrutski +1 for CLJSJS :D

[2015-09-18 15:46] xcthulhu opened #30 "Integration Tests?"
Would it be at all possible for `doo` to make client-server integration testing more convenient, or is that out of scope?

It looks like the way to do it in `lein` is to have an alias where you spin up a ring server, run your tests, and spin the ring server back down:
https://groups.google.com/d/msg/clojurescript/rArkEBCRods/Bqo4IE5ehNUJ

Anyhow this is a marvelous library and I am looking forward

[2015-09-18 16:11] xcthulhu commented on #30
That poster to the ClojureScript mailing list is pretty clever BTW :D

[2015-09-18 17:26] bensu commented on #30
It's not out of scope but it is not in the near future either. I implemented a bunch of functionality for browser testing and there are many corner cases to handle yet. After that I might consider implementing this and other new features. In the meantime, PRs are very welcome.

As for the implementations, in the google groups post I offered two but I only see place in `doo` for something similar t

[2015-09-21 08:33] artemyarulin opened #31 "Pass arguments to runners"
I wasn't able to find a way how to pass additional arguments to existings runners. For example if we specify `:doo {paths {:phantom "phantomjs --web-security=false" }}}` it will fail because `doo` will check if executable exists first and with additional arguments it will fail to do so.

One way could be adding additional arguments to `doo` settings or maybe it would be a better just to rely on `k

[2015-09-23 10:39] danielcompton opened #32 "Don't close browser when tests finish"
Is it possible to leave the browser up while running Karma tests? It would be really nice to not have the Chrome browser popping up and down when tests are auto running.

[2015-09-23 22:51] danielcompton opened #33 "lein doo only adds and downloads dependencies at test time"
CI environments like CircleCI cache `m2` dependencies to speed up build time and decrease load on third party Maven repos (like Clojars). They will typically do the following:

1. Fetch all dependencies
2. Cache the dependencies
3. Run the tests

When using doo, it adds more dependencies to the project at test time, after the dependencies have been cached. There are a few possible options here to

[2015-09-23 23:51] danielcompton opened #34 "Add support for JUnit test reporting"
It would be nice to have JUnit test reporting as this is the lingua franca of test result reporting. This can then be used in a number of CI tools for more detailed test reporting, beyond just pass/fail.

Something like https://github.com/karma-runner/karma-junit-reporter could be good for test reporting, although it only supports Karma. Perhaps it would be better to create a reporter that can be

[2015-09-24 17:12] bensu commented on #34
I don't think that doo should make test reporting decisions. `cljs.test` is written with extensibility in mind and it is trivial to add new reporting through `cljs.test/report`. We can add/integrate a `cljs.test` JUnit reporter to `doo` in a different project and document it in a wiki, allowing everybody to choose their own reporting scheme. What do you think?

[2015-09-24 17:22] bensu commented on #33
I'm not sure I understand correctly. If I am, this is not up to `doo`, it completely depends on your `project.clj`. Can you provide an example `project.clj` that has this problem?

If you clean `.m2/doo/` and then run `lein clean` (or any lein command) in the `/example` from this repo, it will fetch the dependencies and by the time you run `lein doo slimer test` there is nothing left to fetch. I f

[2015-09-24 17:23] bensu commented on #32
This is possible and in the roadmap but it is very tough to get right! I'll get around it after I solve bigger problems related to getting karma working with `boot-cljs-test`.

[2015-09-24 17:28] bensu commented on #31
Looking at this and #25 I sense that the way forward might be to allow a complete escape latch instead of providing support for this features, since I'm likely to get them wrong. I still need to figure out how would that look like or how to give those scripts access to the runners (in case they need them).

[2015-09-24 17:52] artemyarulin commented on #31
Well, technically karma supports both of these features [browsers/customLaunchers](http://karma-runner.github.io/0.13/config/browsers.html) and [files](http://karma-runner.github.io/0.13/config/files.html)

And many more, so maybe will be easy just to allow user to pass karma config file and use it?

[2015-09-24 17:56] crisptrutski commented on #33
@bensu This sounds like it's related  [dynamically add dependencies to the "subproject"](https://github.com/bensu/doo/blob/master/plugin/src/leiningen/doo.clj#L106). This approach is so boot-like that linking to this disccusion seems appropriate: https://github.com/boot-clj/boot/issues/282

I'm a bit confused, as `doo` is an explicit dependency of `lein-doo`, so I would expect it already to be dow

[2015-09-24 18:02] crisptrutski commented on #31
Not sure what kind of escape latch you're thinking of @bensu - users pass in a "custom runner" (let the lambdas loose)?

Supporting these two features directly seems OK to me (but I also get things wrong all the time)

1. Custom arguments - even if you take this as a string rather than a map. Doo's runner code will just need to know where to put this relative to the scripts (and hopefully never be

[2015-09-24 18:10] bensu commented on #31
@artemyarulin yes, the escape latch might be just calling whatever runner you want with whatever arguments you want, thus letting you define your karma.config and running it.

@crisptrutski I'm not sure how this should look like. What I do know is that when it comes to config there is a world of needs that can't be covered with nice abstractions and feature requests like these two will pile up.

[2015-09-24 18:13] bensu commented on #33
@crisptrutski if there is an issue it probably comes from that line but I don't know how to reproduce the issue since I've never seen it.

[2015-09-24 18:24] crisptrutski commented on #33
Not seeing this problem at all myself, testing with the example app:

[code]

[2015-09-24 20:59] danielcompton commented on #33
I'm a little confused by this, as I'm only seeing this behaviour in my repo, not in the doo example project. I'll investigate further and report back.

[2015-09-24 21:00] danielcompton commented on #34
That sounds pretty sensible. I originally thought it would need to be more tightly integrated with doo, but that may not be the case.

[2015-09-25 01:45] dqdinh commented on #26
I had the following bug below while using doo and figwheel.
[code]
After several hours of leiningen config trial and error, it turns out that Figwheel will specifically error out if it sees `:main 'app.core`.  Options 2 and 3 will work.

It might help prevent others from spending time debugging if the `:main 'app.core` in the README  and example config was changed to Option 2 or 3.

This is my cur

[2015-09-26 08:59] flosell commented on #26
+1 to changing the examples in README.md to something like `:main "example.runner"`, would have saved me half an hour of debugging and googling.

@bensu: Any doubts?

[2015-09-26 13:00] #26 closed

[2015-09-26 13:10] bensu commented on #19
I'm closing this issue since it is being covered by `doo.core/run-script`. If you have a specific script that is causing problems, please open another issue and we'll see what's missing feature or documentation wise.

[2015-09-26 13:10] #19 closed

[2015-09-26 13:23] bensu opened #35 "Cleanup node options"
Currently node is very restricted to a small set of options. Cleaning up the runner script can remove most of those limitations.

[2015-09-26 14:19] #35 closed

[2015-09-27 00:17] jrheard opened #36 ""Unable to resolve symbol: update in this context, compiling:(leiningen/doo.clj:99:35)""
hi!

this is my first time opening a github issue, please excuse me if i'm doing any of this wrong.

my build on travis-ci just started failing with the message in this issue's subject line. full traceback at https://s3.amazonaws.com/archive.travis-ci.org/jobs/82362310/log.txt . i'm unable to reproduce this locally, but that's probably because i'm not doing a good enough job of blowing away my cur

[2015-09-27 00:17] jrheard commented on #36
my code's at https://github.com/jrheard/cljstone and my build history is at https://travis-ci.org/jrheard/cljstone/builds , if that's at all helpful.

[2015-09-27 08:52] bensu commented on #36
Hi @jrheard,

The issue is exactly what I need, thanks!

To delete `doo` from your machine in Ubuntu: `rm -r ~/.m2/repository/lein-doo/ ~/.m2/repository/doo/`.

The problem is probably in Travis' Lein version. The function `update` was added in Clojure 1.7 and only the latest Leiningen uses it. My bad. I changed all `update` functions for `update-in` to be backwards compatible again. Try again and

[2015-09-27 08:59] danielcompton opened #37 "Release 0.1.5"
@bensu would it be possible to release 0.1.5? I understand that it's under a SNAPSHOT because the behaviour is subject to change, but it does raise the risk of breaking existing code, e.g. #36. The Karma test runner could still be marked as experimental and subject to breaking changes, but at least it would be a stable point for those that need to use it.

I know that I can specify a particular SN

[2015-09-27 10:31] bensu commented on #37
I'll do it when #36 is closed.

[2015-09-27 23:29] jrheard commented on #36
ah, that makes tons of sense - i saw that `update` was added in 1.7, but didn't do the full amount of digging required to compare travis's lein's version vs. the version that started using 1.7. everything looks great now, thanks for the fix! thanks also for the caution re: snapshot releases - my project is just a toy, so i totally don't mind dealing with occasional breaks. thanks again for your wo

[2015-09-27 23:29] #36 closed

[2015-09-28 14:02] bensu commented on #37
`0.1.5` released.

[2015-09-28 14:02] #37 closed

[2015-10-11 16:55] bensu opened #38 "doo-all-tests is not supported for Karma"

[2015-10-11 16:57] bensu opened #39 "Slimer doesn't exit with proper exit code"
See https://github.com/laurentj/slimerjs/pull/278

[2015-10-11 17:06] bensu commented on #38
Fixed by 61bf69b

[2015-10-11 17:06] #38 closed

[2015-10-11 17:12] bensu commented on #22
Fixed in c5c471c

[2015-10-11 17:12] #22 closed

[2015-10-11 17:14] bensu commented on #15
Fixed in f5ac662 by adding `basePath` to `karma.conf.js`

[2015-10-11 17:14] #15 closed

[2015-10-11 17:16] bensu commented on #33
Hey @danielcompton please reopen the issue if you cand find any further problems.

[2015-10-11 17:16] #33 closed

[2015-10-11 17:25] bensu commented on #10
Hi @crisptrutski!

I recently addressed the biggest problem around relative paths (#15) that might have prevented `boot-cljs-test` from using `doo.core/run-script`. Also, I removed Selmer and moved the generated files into `/tmp` (#22). Can you try running `boot-cljs-test` with karma again in the *not released* `[0.1.6-SNAPSHOT]`?

Since browser testing is now properly working for the library and

[2015-10-11 17:25] #10 closed

[2015-10-12 16:43] bensu commented on #20
After looking at [CLJS-1076](http://dev.clojure.org/jira/browse/CLJS-1076), I realize two things:

1. All efforts should be directed at working with Nashorn not Rhino
2. Getting Rhino/Nashorn to work with `:none` needs to be sorted out in the compiler first.

Once CLJS-1076 is solved (which implies community interest) we can support it in `doo`. In the meanwhile, `assert-compiler-opts` will contin

[2015-10-12 16:44] bensu commented on #39
This will be solved in Slimer's next release.

[2015-10-12 19:21] bensu commented on #31
Fixed in 1de838f504a0eb88a1572fa4af47362f67c51ab9 (released under `0.1.6-SNAPSHOT`).

@artemyarulin, your original intent:

[code]
should now work for any number of options and you can find the relevant docs under [Paths](https://github.com/bensu/doo#paths). Can you give it a try?

@crisptrutski it ended up being that all current runners could take the arguments before, so it was a rather small ch

[2015-10-12 23:46] bensu commented on #25
Hi @ricardojmendez,

After trying it a couple of alternatives in the REPL (tweaks on `clojurescript.test` command line builder) I realize that @crisptrutski is right. The ClojureScript compiler already has a method to inject dependencies! If your production build expects `$` and you server it through a CDN, then you can always add the snippet in `:foreign-libs` for the test build.

To explore that

[2015-10-13 05:18] artemyarulin commented on #31
@bensu Works like a charm, thank you!

[2015-10-13 05:18] #31 closed

[2015-10-13 14:43] bensu commented on #21
Fixed in 725de62978ed988be587acc6d823a1f56b345d41 following @crisptrutski suggestions.

[2015-10-13 14:43] #21 closed

[2015-10-13 19:23] bensu commented on #23
Fixed in 916c7d4

[2015-10-13 19:23] #23 closed

[2015-10-13 20:38] ricardojmendez commented on #25
@bensu: Let me give it a shot and get back to you later this week - I'm currently tied up on something where doo isn't an option (testing inside a Chrome extension).

[2015-10-15 18:56] bensu opened #40 "Include user defined aliases in no-alias-found error message"

[2015-10-15 20:51] bensu commented on #32
Fixed in d7c148cf1f37a6e494060ce6382219f9ac28adfb

@danielcompton do you mind trying it out? If you use `0.1.6-SNAPSHOT` and run `lein doo chrome test-build` you should see the intended behavior.

[2015-10-15 21:07] bensu commented on #40
Fixed 60aa04b26876a7437deb87b18a15e4e2fdec1396

[2015-10-15 21:07] #40 closed

[2015-10-17 02:34] danielcompton commented on #32
Hey I've tried this out and it works great. Thanks! Just to confirm, we're not expecting test output to show up in the browser window?

![screenshot of google chrome 17-10-15 3 33 24 pm](https://cloud.githubusercontent.com/assets/811954/10556603/75efa028-74e4-11e5-8e9d-880e38ca6202.png)

Thanks!

[2015-10-17 09:31] bensu commented on #32
No, that is standard Karma behavior. According to [this](http://stackoverflow.com/questions/16344361/view-karma-test-output-in-a-browser) you can click the "DEBUG" button to open a tab that shows you the console's output. (otherwise you can look at the console directly).

[2015-10-17 09:31] #32 closed

[2015-10-17 13:14] bensu opened #41 "Add a default build"
Since there is usually *one* test build per project, users should be able to call it with:

    lein doo phantom

as long as they define it under `:doo :default`.

[2015-10-17 13:42] bensu commented on #41
Fixed in d12a5142ce3b292c6c6eca43d9220a6b38c29384

[2015-10-17 13:42] #41 closed

[2015-10-18 19:26] danielcompton opened #42 "Source maps for stack traces?"
Is it possible to get stack traces for errors from Karma?

At the moment they look like this:

[code]

I'm not sure if this is related or not, but when I open the Karma Debug page, I get a bunch of warnings in the doo terminal about 404 for source map files, e.g.:

[code]

[2015-10-18 20:29] bensu commented on #42
I'm pretty sure I can solve the 404 warnings. I don't know about getting source-mapped stack traces but it is definitely in the road map so I'll get back when I have some time to investigate/implement this.

I suspect it is doable in Karma but harder in the other runners (specially Phantom/Slimer).

[2015-10-18 21:02] danielcompton commented on #42
No problem. Thanks for your work on this, it's really great.

[2015-10-19 01:14] danielcompton opened #43 "Provide the ability to add arbitrary Karma plugins"
I'd like to be able to add [karma-junit-reporter](https://github.com/karma-runner/karma-junit-reporter) to my karma.conf.js file. I can imagine in the long run that lots of people will all want to install their own Karma plugins. There are a few ways to accomodate this:
- Add a command to allow people to generate a `karma.conf.js` file to disk and then they can add their plugins, configuration, e.

[2015-10-20 12:16] agremm opened #44 "Error trying to use rhino"
Hi,

I'm trying to use rhino with doo 0.1.6-SNAPSHOT. I installed nodejs and karma but when running  *lein doo rhino test* I get the following output:

Though, I do include and use *(doo-tests 'foo.runner)*.

Any idea on what I am doing wrong?

[2015-10-20 14:04] bensu commented on #44
Hi @agremm,

Can you include the compiler options? Are you using `:optimizations :none`?

Rhino is completely unrelated to Node.js and Karma. Having installed them (or not) should make no difference. Are you saying that it *worked* with node/kama?

Thanks for your feedback.

[2015-10-20 22:01] bensu opened #45 "Extra print environment when karma is empty"

[2015-10-21 07:34] agremm commented on #44
I'm using

as options.

I guess I was just trying to narrow down possible sources of the error when I mentioned Node.js and Karma. I haven't tried using any other JS engine as I only care about Rhino at the moment.

Thanks for your help!

[2015-10-21 09:29] bensu commented on #44
Thanks for the config.

After looking at the [reacl-tutorial](https://github.com/active-group/reacl-tutorial) I see two problems:

1. The test setup is set up to be used in Figwheel. This means that the call to `(run-tests 'reacl-tutorial.core-test)` is hidden under a `run` function. In `doo` it must be a top level declaration (I'll document that in the README)

2. The project is very much DOM ori

[2015-10-21 09:38] bensu commented on #45
Fixed cd5a1e9

[2015-10-21 09:38] #45 closed

[2015-10-21 16:01] bensu commented on #43
Tricky. If doo every supports something like this, it will probably follow the last option, a merged in config. To see if this is needed, we should first explore/solve #34 either through docs or features and after that think about plugins in general.

[2015-10-22 07:01] mikesperber commented on #44
Hi there,

I work with @agremm and am the primary author of Reacl:

Thanks for the quick reply and the help!

A few comments:

Yes, React can access the DOM, but the code @agremm is trying to run is carefully engineered to not get that point. (We made an earlier version of this run on Nashorn.)

We really, really want to avoid dragging in complicated dependencies like Slimer - making it run on a J

[2015-10-22 07:18] agremm commented on #44
To clarify on the Karma situation: When I ran `lein doo rhino test` I got an error because doo could not find Karma. I just tried replicating the error but was unable to. I assume there were some other mistakes on my side.

[2015-10-22 11:50] bensu commented on #44
@agremm the Karma error was not your mistake, it was #45, which I fixed and pushed yesterday.

@agremm have you tried using the changes that I proposed in the [example project](https://github.com/active-group/reacl-tutorial/compare/master...bensu:master) on your code? When I ran it, it stops because it can't find `React`, due to [this line](https://github.com/active-group/reacl/blob/master/src/rea

[2015-10-22 20:39] bensu opened #47 "Paths can't be used both from windows and unix"
Since paths are defined as strings (which include the separator) a cross-platform team can't properly specify a path.

[2015-10-23 14:32] cldwalker commented on #9
Seems cljs-1267 issue has landed. Would be great to have this! @bensu If you don't have cycles for this let us know and hopefully one of us can get to it

[2015-10-23 21:43] arichiardi opened #48 "Enable passing a regex to doo-all-tests"
Mimicking `run-all-tests`.

I can take care of it, it should be so easy to do :+1:

[2015-10-24 02:06] arichiardi opened #49 "No namespace doo.runner error"
Hello @bensu and again thanks for this refactoring!
First of all, my conf:

[code]

When I launch `lein figwheel dev` I receive a big:
[code]

Any workaround?

[2015-10-24 03:14] arichiardi commented on #49
Ok a workaround is to have the ```doo``` runner in some other source path, like so:

[code]

[2015-10-24 09:24] bensu commented on #49
Hi Andrea!

There are two possible questions here:

1. How to run a Figwheel build *with* the test runner (the file that contains `doo/run-tests`)?
2. How to avoid including `doo/run-tests` in your Figwheel build?

Which one is it?

The error occurs because Figwheel doesn't have the `[doo "0.1.6-SNAPSHOT"]` dependency, which is dynamically added by the plugin `lein-doo` [here](https://github.com/b

[2015-10-24 09:26] bensu commented on #48
Go for it!

Make sure to check they are regex objects and not strings. I have some ideas for what to do with strings, and is not just transforming to the equivalent regex. So something like `(run-all-tests #"youregex")` and not `(run-all-tests "a-string")`.

[2015-10-24 09:39] bensu commented on #9
Thanks @cldwalker, I forgot about this.

Before encouraging you to go for it, I must warn you that it is not as straight forward as it sounds for three reasons:

1. The report events are different for each of function `cljs.test/test-var`, `cljs.test/test-vars`, `cljs.test/run-tests` (the reason why in CLJS-1267 I wanted to keep them the same was to facilitate this future!)
2. Right now, there can

[2015-10-24 16:31] arichiardi commented on #49
The answer to number 2 is exactly my workaround...but there must be a better way. I am actually running my test inside the browser (printing the results to console) using a standard run that uses the standard run-tests. I don't think number 1 is that easy to achieve. But I have not explored the code.

If doo adds itself at runtime of course it cannot be seen by whoever is compiling code.
This is n

[2015-10-24 23:24] arichiardi commented on #48
Can you share your ideas for strings, maybe I can take a stab at it :)

[2015-10-26 10:32] exupero opened #51 "Changing macro requires restarting process and triggering reload"
I have several macros used by tests, and any time I change one of them, I have to stop the `lein doo` process and restart it, then (usually) touch my test file so doo recompiles the JS and runs the updated code. If I don't touch the test file, doo seems to use the original macro definition instead of the updated one.

[2015-10-26 11:42] exupero opened #52 "Cannot require macros from test directory?"
I have a `then.clj` file in the `test/project` directory (as opposed to `src/project`), but when I require it I get

[code]

I know the `test` directory is getting included in the build because it finds the .cljs files. Is there something special I need to do to get .clj files outside `src` to be found by the ClojureScript compiler?

[2015-10-26 12:14] danielcompton commented on #52
Does this work in cljsbuild? Can you post your project.clj?

[2015-10-26 12:17] bensu commented on #51
I think this is related to #52 and how the compiler finds/watches macro files. Since this is a little more complex, can you provide an example repo?

[2015-10-26 13:48] bensu opened #53 "Karma regression with :optimizations :none"
As discussed with @danielcompton, Karma builds with `:none` now need an :asset-path base prefix. It is a regression probably caused by 6244a0d and should be fixed.

[2015-10-26 15:58] #53 closed

[2015-10-26 21:19] danielcompton opened #54 "Add CI testing for doo"
It would be good to have CI to run tests against doo to prevent regressions. One way to approach it would be to run tests which are multiple projects * all optimisations * all runners * Windows and Linux. Travis has a good test matrix capability to support this.

[2015-10-26 23:47] bensu commented on #54
Did you try the `example/script/test-all.sh` script? Do you think that Travis can run something like that?

[2015-10-26 23:52] danielcompton commented on #54
The test-all script will fail if any single command fails. I've opened #55 with an approach using CircleCI.

[2015-10-27 00:00] bensu commented on #54
@danielcompton #55 is awesome, thank you. I read this issue before it.

[2015-10-27 01:33] exupero commented on #52
Turns out the problem was that I didn't have a top-level `:source-paths` set in my project.clj. Adding `:source-paths ["src" "test"]` solved the problem.

[2015-10-27 01:33] #52 closed

[2015-10-27 01:36] exupero commented on #51
I solved #52 by supplying a top-level `:source-paths` in my project.clj, but doo still doesn't pick up changes to .clj files. Here's an [example project](https://github.com/exupero/doo-macro-example) demonstrating the problem.

[2015-10-27 09:29] bensu commented on #51
Thanks @exupero , I'll look at it shortly.

[2015-10-28 16:11] conan opened #60 "[Windows] ERROR: doo was not loaded from the compiled script"
I checked out and ran the example like this:
[code]
I got this error:
[code]
I get this error in exactly the same way on my own project trying to get doo running, which is why I thought I'd give the example a try.  Is there something I can do to resolve this?

I'm on Windows 10 using Git Bash.

[2015-10-28 16:23] conan commented on #60
Same results running from cmd.  Confirmed it works on OSX.

[2015-10-28 16:23] conan commented on #60
here's the full stack trace in case it helps (apologies for the long post):
[code]

[2015-10-28 16:28] bensu commented on #60
Thanks @conan for the report.

As @danielcompton has noticed in #57, `doo` is not Windows compatible. I'll let you know as soon as I merge his PR so you can try it.

[2015-10-29 10:31] conan commented on #60
Ah, I missed that, sorry.  Still, what a lovely surprise to find an existing issue for my problem with an existing PR!

[2015-11-07 21:36] ricardojmendez commented on #25
Yes, the dependencies solve exactly this issue.

[2015-11-07 21:36] #25 closed

[2015-11-12 23:00] bensu commented on #48
Closed by #50

[2015-11-12 23:00] #48 closed

[2015-11-16 17:31] bensu commented on #54
Fixed by #55

[2015-11-16 17:31] #54 closed

[2015-11-16 17:54] bensu commented on #60
Hi @conan

I just merged @danielcompton's PR #57 for Windows support. Would you mind trying it before I deploy it to Clojars?

[2015-11-16 19:47] danielcompton opened #61 "Fix failing tests"
This is a placeholder to fix the failing tests

[code]

[2015-11-16 22:11] bensu commented on #61
I think those tests fail depending on the environment: if I check out master and run them in my machine they pass. Do you mind running them with `:verbose true` [here](https://github.com/bensu/doo/blob/master/library/test/clj/test/doo/core.clj#L93)? They also fail in CircleCI.

[2015-11-17 01:03] danielcompton commented on #39
The test commands in `circle.yml` will also need to be uncommented when this fix is released.

[2015-11-17 04:19] danielcompton opened #63 "Cut a new release?"
There have been quite a few changes since the last SNAPSHOT release. Would it be possible to release a new version?

An issue with having long running snapshots is that when code changes in a SNAPSHOT it can break running tests. Normally you would deal with that by pinning to specific snapshot versions, like `0.1.5-20150918...`. However I don't think it is possible (it's certainly not easy), to pi

[2015-11-17 09:17] bensu commented on #63
I'm just waiting to merge Nashorn support and then I'll release. If it doesn't happen in the next couple of days, I'll release an alpha as you suggested.

[2015-11-17 15:15] #61 closed

[2015-11-17 16:07] bensu commented on #51
I was able to reproduce the behavior without using `doo` [here](https://github.com/bensu/clj-watch-repo). I'll see if we can fix this at the compiler level.

[2015-11-17 19:46] conan commented on #60
Sorry, flat-out today, will do asap

[2015-11-18 11:59] conan commented on #60
Sorry, I still experience the same error:

[code]

[2015-11-18 12:31] bensu commented on #60
Thanks @conan.

Hey @danielcompton, does this work for you in Windows?

[code]

From the changes in ce83037d64a1211333d49573bc7396a99400a5be it seems like it should work.

[2015-11-18 22:13] danielcompton commented on #60
Hey I get the same errors. My change was only about executing commands in a Windows environment, so it wouldn't necessarily address a particular runner. It looks like Phantom is being successfully launched but it can't load the right JS files. I don't use Phantom, but my suspicion would be that you need to set an `:asset-path` to load the libraries.

The next debugging steps would probably be to s

[2015-11-19 16:30] bensu commented on #60
I doubt it is related to `:asset-path` since it is using `:optimizations :simple`. I'll add a verbose option so that we can try this again while seeing what is going on.

[2015-11-21 14:25] viesti commented on #30
I did a trial with `doo` and your other project, `cljs-react-test`, by using [`doo/run-script`](https://github.com/viesti/shopping-list/blob/master/test/clj/shopping_list/e2e.clj#L49) in a `clojure.test` for which I have fixture that spins up&down my server (Stuart Sierra's [component](https://github.com/stuartsierra/component) makes handling dependencies easy). Before the test I compile CLJS file

[2015-11-21 15:36] bensu commented on #30
Thanks @viesti! That's great news. Looking at the code, I agree it can be done using `doo.core/run-script` without much fuzz. Maybe there is a way to extract the boiler plate from that so that doo makes it even easier and people start doing it. Otherwise, we can properly document your findings in a tutorial.

[2015-11-22 19:09] viesti commented on #30
Thanks! :) I'm thinking that a short tutorial might be good (or a mention in the readme if this get's short enough) since the wiring might be a bit related to the app architecture. There are at least these points:

1. clojure.test which compiles a suitable runner and calls `doo/run-script` (this is generic, clojure.test is a good starting point)
2. Fixture that start&stops the app (might be app sp

[2015-11-22 21:28] viesti commented on #30
So had sort of a flow (and kids sleeping too :)) and wipped up a "tutorial" in a PR: https://github.com/bensu/doo/pull/65. Hope it makes any sense :)

[2015-11-23 16:44] bensu commented on #51
Hey @exupero

Macro reloading is not supported by the compiler's api. I think it is an important feature and doo should support it. Since we heavily rely on the compiler's api we will try to add it to the compiler. If that effort fails, we will refactor doo accordingly. In any case, it will take time :(

Sorry for the delay, I'll keep you posted.

[2015-11-23 16:53] exupero commented on #51
Thanks for your work on this. I'm in no urgent need of a fix and can work around the problem until the right solution is found.

[2015-11-23 16:59] bensu commented on #51
Cool, we'll be tracking progress on the compiler front in [CLJS-1490](http://dev.clojure.org/jira/browse/CLJS-1490).

[2015-11-23 23:05] bensu commented on #63
I just pushed `[0.1.6-rc.1]`, please give it a go. I'll release `0.1.6` when a couple of people have tested `rc.1`.

[2015-11-23 23:05] bensu commented on #44
Closed by #58

[2015-11-23 23:05] #44 closed

[2015-11-24 02:20] danielcompton commented on #63
I've updated and it ran fine. I forgot to install `karma-cli` on our CI machine, but other than that it was a smooth upgrade.

[2015-11-24 09:56] bensu commented on #63
Great thanks!

[2015-11-24 22:28] crisptrutski opened #68 "Support custom command path / unoptimized test builds"
Having some trouble using `0.1.6` with unoptimised CLJS builds - and the issue seems to be http://dev.clojure.org/jira/browse/CLJS-1444.

Until that is sorted out, such builds would need to be run from the `:output-to` directory.

Although this has its own problems, e.g. for commands only installed locally for the project, I can't think of another solution. On the flip-side this has advantages too

[2015-11-25 06:41] danielcompton commented on #68
@crisptrutski we're doing ok running :optimizations :none on our projects. What problems are you having specifically?

[2015-11-25 06:59] crisptrutski commented on #68
When using Boot compiled files are created in a temp directory, not at the assumed relative path to the project. That means that require statements for Closure  generated by the CLJS shim for `:none` use incorrect paths, and the bootstrapping fails:

[code]

You could run the tests [here](https://github.com/crisptrutski/boot-cljs-test/tree/update-doo) against doo with and without this branch to se

[2015-11-25 18:28] danielcompton commented on #68
Gotcha, that makes more sense. I'll have a look at how boot does it and see what I can think of too.

[2015-11-25 21:14] bensu commented on #68
@crisptrutski CLJS-1444 deals with a node-only problem. Is the problem you are reporting also isolated to node?

[2015-11-25 23:05] bensu commented on #60
Hey @conan I just added a `:debug` option to `doo.core/run-script` that will print important internal events to the console. Do you mind trying it on the error?

After checking out and installing doo's latest version from master, add this to `example/project.clj`:

[code]

and then run your error case, `lein doo phantom test`.

[2015-11-26 08:48] crisptrutski commented on #68
@bensu no, it's actually been affecting phantom in my testing - looks like I didn't read the ticket closely enough.

Here's the actual shim that's been generated:

[code]

[2015-11-26 12:08] bensu commented on #68
Thanks @crisptrutski

To solve this I'll need a better understanding of boot-cljs. Luckily I've already been using it in one project but it will take a while until we figure out the best way to re conciliate these two execution models.

[2015-11-26 14:50] crisptrutski commented on #68
Totally understand you wanting to avoid a knee-jerk solution!

Would you be open to a scaled back PR in the meantime, which just provides a "command-dir" option, and skipping any such magic around the compiler options? This would be enough for me to cut a boot-cljs-test release, without any implicit magic.

If not, I can wait - and maybe find the time to help :smile:

[2015-11-29 19:13] arichiardi opened #70 "Expose the running runner?"
Hi @bensu,

I wanted to ask you if there is a way to know which runner is currently executed in order to pass it to my tests. For instance to execute node-specific configuration as test fixture.

If this is not exposed, I could work on doing it and submit a PR ;)

[2015-11-29 20:37] danielcompton commented on #70
Another option for node specific code would be to include it in your build confit section, say something like `:source-paths ["src" "test" "platform/node"]`.

[2015-11-29 21:02] bensu commented on #70
@arichiardi I'm not sure I understand. Do you want to know inside the cljs test what is currently running? If so, you can look at https://github.com/bensu/maxwell

You can do this:

[code]

If that doesn't solve your problem, please explain further so we can figure it out.

[2015-11-29 21:03] bensu commented on #70
I think @arohner was doing something similar.

[2015-11-29 21:15] arichiardi commented on #70
Basically I have tests here: https://github.com/ScalaConsultants/replumb/blob/master/test/cljs/replumb/repl_test.cljs

I would like to change the target options (at runtime) based on the build I'd, if it's nodejs I would like to pass `:target :nodejs` to my `read-eval-call`.

[2015-11-29 22:39] bensu commented on #70
If that is all you want then you can use `doo.runner/node?` from inside your tests. You can see it's implementation [here](https://github.com/bensu/doo/blob/master/library/src/doo/runner.cljs#L18)

[2015-11-29 22:57] arichiardi commented on #70
Oh great I did not see it, sorry about this, I even skimmed through the source...but too quickly it seems :)

[2015-11-29 23:00] bensu commented on #70
No problem! I'm closing this then.

[2015-11-29 23:00] #70 closed

[2015-11-30 14:28] conan commented on #60
not sure that changes anything:

[code]

[2015-11-30 14:30] conan commented on #60
[code]

[2015-11-30 14:32] conan commented on #60
Is there something I could do to get more information out of phantom?  I realise none of this is much use

[2015-11-30 20:41] danielcompton commented on #60
I don't know a lot about Phantom, it might pay to dig around their docs site for how to get more debug information.

[2015-11-30 21:42] bensu commented on #60
@conan did you `lein install` the latest version of the library before doing this? I added `:debug` just for this issue and haven't deployed it to clojars.

[code]

[2015-11-30 23:41] conan commented on #60
Oh, no, silly me. I'll try tomorrow

On Mon, 30 Nov 2015, 21:42 Sebastian Bensusan <notifications@github.com>
wrote:

[2015-12-01 01:18] danielcompton opened #71 "Run a test on the first run of an auto test"
Currently when you run `lein doo chrome test` you get this:

[code]

It would probably make sense to kick off a first test once Karma has started instead of waiting for the user to change something. This might need to go into Karma config?

[2015-12-01 01:18] danielcompton opened #72 "Add a log line when auto test finished"
When testing with Karma, it's not always really clear when the current test has finished. I'm not sure if this is a Karma thing or a doo thing though?

Running the tests it changes from

[code]

to

[code]

[2015-12-02 18:08] arichiardi opened #75 "Node js-env not fetching test namespaces?"
A bug I encountered here, and I know that in the example it works, is that it does not see my test namespaces with `node` environment option.

The only thing it says is:

[code]

I explicitely require them:

[code]

[code]

...and the script with `echo $?` returns zero.

Have someone encountered this issue?

[2015-12-02 18:13] arichiardi commented on #75
Oh holy moly, I found out that `(set! js/COMPILED true)`, which was solving another problem for tests in browser environments, is actually wrecking havok with `node`.

I live this here as reference. Commenting out `(set! js/COMPILED true)` solves. Feel free to close it.

[2015-12-02 18:51] bensu commented on #75
I love when issues close themselves :)

[2015-12-02 18:51] #75 closed

[2015-12-02 18:53] arichiardi commented on #75
The problem is that now I have that problem I solved by having it. I need to find another solution...in any case I don't think it is a doo problem anymore..

[2015-12-03 06:04] crisptrutski commented on #68
Since @danielcompton made the same suggestion, I've gone ahead an created the PR :v: :palm_tree:

[2015-12-05 22:05] #68 closed

[2015-12-05 22:06] bensu commented on #63
`0.1.6` is out!

[2015-12-05 22:06] #63 closed

[2015-12-05 22:06] bensu commented on #51
We got green light to fix this at the compiler level! Will update here any progress.

[2015-12-05 22:09] bensu commented on #71
Yeah, this is a problem but haven't had the time to look at it further. Kicking off `karma run` directly after `karma server` might lead to race conditions. I'll follow your suggestion and see if `karma server` can be configured to do it on its own.

[2015-12-05 22:27] bensu commented on #72
If you see the problem with `once`, it's easy, the tests are not done until the shell prompt comes back. If you are confused about the last test, 7 of 7 means it is done.

I don't think it is necessary to add another logging statement saying "The tests are done" which might be a problem if something is not properly configured, the tests are not run, and the user sees "The tests are done".

[2015-12-06 00:29] crisptrutski commented on #63
Nice! :elephant:

[2015-12-06 01:24] crisptrutski opened #78 "Deploy 0.1.7-SNAPSHOT to Clojars"
Would appreciate being able to use a particular new option :wink:

[2015-12-06 11:27] bensu opened #79 "Test autowatch"

[2015-12-06 16:23] bensu commented on #78
Pushed SNAPSHOT which ended up being `doo-0.1.7-20151206.162255-1`

[2015-12-06 16:23] #78 closed

[2015-12-06 20:13] crisptrutski commented on #78
Much appreciated :bow:

[2015-12-12 04:50] arichiardi opened #81 "Weird case of doo not respecting :source-paths in profile"
Hello Bensu!

I apologise if it is going to be my mistake, but this is really odd:

https://github.com/ScalaConsultants/replumb/issues/72

The two doo different commands execute the same tests??

I happens only on Travis and not locally which makes it even more difficult to debug.

[2015-12-12 15:05] bensu commented on #81
Hi @arichiardi

From what I can tell you are using the same launcher (`launcher.runner`) for both `test-node*` and `test-browser*`. `launcher.runner` then requires a set of namespaces and ClojureScript will compile only those namespaces. When you call `doo-run-all`, that's all you are going to see.

Try using more launchers with different required namespaces.

[2015-12-12 17:31] arichiardi commented on #81
Yes it is exactly like this, but namespaces are provided in the source path or not, for instance `require_test` in `src/browser` is empty whether in `src/node` is full.
And everything works locally, there probably is something wrong in Travis' build.

[2015-12-13 02:08] arichiardi commented on #81
Weird...it looks like `:source-paths` are not really respected per profile while build.
For instance my `:browser-test` I have ["src/cljs" "src/browser" "test/cljs" "test/browser"] and `:node-test` has `["src/cljs" "src/node" "test/cljs" "test/node"]` but then I get that `require` is not found, meaning that is actually putting together all the namespaces..puzzling...maybe I did not understand how

[2015-12-13 02:35] arichiardi commented on #81
It might even just be `cljsbuild` actually so I should probably exclude that as cause.

[2015-12-13 02:39] arichiardi commented on #81
FYI:

Build without my `browser-test` builds section:
https://travis-ci.org/ScalaConsultants/replumb/builds/96525991

Build with it re-added:
https://travis-ci.org/ScalaConsultants/replumb/builds/96526301

Odd

[2015-12-13 02:55] arichiardi commented on #81
Forget about `cljsbuild`, I saw that `lein-doo` actually lives without...

[2015-12-13 03:52] arichiardi commented on #81
So [this](https://github.com/bensu/doo/blob/master/plugin/src/leiningen/doo.clj#L31) is were things gets weird. We are merging everything from every profile...in my opinion we should just compile and execute the profile indicated with `{build-id}`. Am I right? Will I break everything (yes!) ? :+1:

[2015-12-14 02:07] arichiardi commented on #81
I renamed the files and this is a workaround for that. I decided to wait for an answer before dive into some fix as there might be other implications that I ignore...

[2015-12-14 13:51] bensu commented on #81
Hi @arichiardi

I looked at this and saw no obvious problem. I will look into it soon. I think it's related to a misunderstanding of what the `make-subproject` does (add all `:source-paths` to the classpath) and what ClojureScript does when you require namespaces and call `doo-run-tests`.

If you want to run different namespaces for different build-ids then you should have a different runner, that

[2015-12-14 17:40] arichiardi commented on #81
Hey @bensu, thanks for having a look and sorry I maybe did not explain my problem, I will put it in a better (hopefully) form below.

In my mind I thought I could have two folders for two different platforms:

[code]

I was not worried about the clash because I am discerning them using `:source-paths` and the build id:
[code]

At this point (always in my mind) it does not matter how many runners I

[2015-12-15 13:54] bensu commented on #81
Sounds reasonable. We should then add the source-paths to the class-path selectively depending on which build-id is being called. I'll try it out and see if anything major breaks.

[2015-12-15 15:46] arichiardi commented on #81
Yes I was trying exactly that, only make-subpoject (and of course it's caller) needs to be changed ;)

[2015-12-15 15:50] arichiardi commented on #81
I also opened another (I hope reasonable) PR that I found necessary in replumb

[2015-12-15 19:31] #81 closed

[2015-12-15 19:32] bensu commented on #81
Hi @arichiardi

Do you mind trying the fix? I deployed it to clojars under `lein-doo-0.1.7-SNAPSHOT` which resolved to `lein-doo-0.1.7-20151215.193410-2`.

[2015-12-15 19:40] arichiardi commented on #81
Yep, I kept a branch on replumb exactly for that!

[2015-12-15 20:02] arichiardi commented on #81
It works [correctly](https://travis-ci.org/ScalaConsultants/replumb/builds/97065037). There is a dummy test failing in the node version of `require_test.cljs`, same name for node and browser test. I will switch to the old "style" (new for `doo`) testing for release `0.1.7`.

[2015-12-15 22:26] bensu commented on #81
Glad it works!

[2015-12-17 12:00] r0man opened #83 "lein-doo exits on React warnings"
Hi Bensu,

I'm using lein-doo to test sablono and run into an issue with
React warnings. Whenever React issues a warning lein-doo exits,
because this hook is called.

https://github.com/bensu/doo/blob/master/library/resources/runners/headless.js#L43

I'm not exactly sure how those React warnings end up in
lein-doo (via js/Error or console.warn).

Looking at the clojurescript.test runner it looks l

[2015-12-17 14:11] r0man commented on #83
Update: I think this has also something to do with different versions of phantomjs. My tests run fine on Travis old infrastructure. Locally with phantomjs v2.0.0 and on Travis container based infrastructure they fail.

[2015-12-17 14:43] bensu commented on #83
Hi @r0man

We just discussed this in #82 with @arichiardi

The problem is that from Phantom we don't know how to distinguish between a legit error that should abort tests and a warning if the js script decides to call `console.warn`. Removing that bit and catching errors only inside `cljs.test` would yield very unexpected behavior, i.e., if the script completely fails outside of the tests, it woul

[2015-12-17 16:16] r0man commented on #83
Hi Bensu,

I got my tests working locally with phantomjs v2.0.0 with the
follwoing snippet:

[code]

However, they still fail on Travis container based infrastructure. I'm
still investigating this.

Also, I'm still not convinced that calling `console.error` somewhere
in JavaScript is actually a valid reason to exit the whole process. ;)

What about leaving `p.onError` as it is now, but redefine it

[2015-12-21 22:25] SevereOverfl0w opened #84 "Run rhino from dependency"
Is it possible to run rhino from it's dependency directly?

It may be necessary to add a `rhino-dep` option, and set the base command to `lein run -m org.mozilla.javascript.tools.shell.Main` or there may be a much simpler option that I'm not aware of.

Any pointers?

[2015-12-21 22:39] SevereOverfl0w commented on #84
https://github.com/bensu/doo#paths Just saw this!
[code]

Allowed rhino to run from local dependency

[2015-12-21 22:40] #84 closed

[2015-12-23 17:00] lvh opened #85 "Adding test middleware"
How do I add test middleware to doo? Right now, the test errors can be somewhat limited in their utility, notably:

1. I don't see full tracebacks
2. I can't pretty-print errors, e.g.:

[code]

It would be great if there's a way to pretty-print that, or add the diff -- I believe `humane-test-output` does both?

[2015-12-24 14:39] bensu commented on #85
Currently there is no way in doo to do this. Can you point me to some project that uses the middleware you want? Since I don't use this, I'm having in which step should the middleware be applied.

[2015-12-24 16:05] lvh commented on #85
I just realized that the most important one, `pjstadig/humane-test-output` doesn't actually work on ClojureScript yet; I guess I'll try to make that work at some point.

@bensu: Have you noticed any issues trying to debug software where the test would just fail with a single line JavaScript error message? That's my main issue: sometimes (usually, when an exception is thrown), I get a fairly unhelp

[2015-12-26 19:09] magomimmo opened #86 "keep the JS environment alive in watch-mode"
Hi @bensu I'm using your `doo` lib via the great `test-cljs` lib by @crisptrutski (with phantomjs at the moment). Even if I'm not a TDD practitioner, there are few of them working in my company that would refuse any small test cycle that take more than a second to complete.  I recently read [this post](https://medium.com/learnings-in-and-around-sharetribe/faster-cucumber-startup-keep-the-phantomjs

[2015-12-27 04:56] bensu commented on #86
Hi @magomimmo

If the delay is big it does make sense and in fact that strategy is implemented for Karma. Since Karma has a [PhantomJS  runner](https://github.com/karma-runner/karma-phantomjs-launcher) we could try to replicate the functionality through Karma, or follow something similar to the post. The strategy implemented in the post is somewhat dirty and could lead to all sorts of issues, so I

[2015-12-27 18:39] moea opened #87 "Test failure on stderr print"
Similar to #83, but not involving the quit-on-print behaviour.  I'm running into a situation on Node with this line, I guess:

https://github.com/bensu/doo/blob/master/library/src/doo/core.clj#L264

Where log messages cause the test to fail after completion, despite a successful exit code.  Given that process exit codes aren't broken on Node, it would seem reasonable to disable this check there, a

[2015-12-28 03:06] bensu commented on #87
The check is only necessary as long as #39 exists. Instead of checking for Node, it would be better only to check for PhantomJS/Slimer as you proposed. If you have the time, give it a go. (Otherwise I'll get to it) Thanks!

[2015-12-28 03:12] bensu commented on #83
I think I'm misunderstanding something, is `p.onError` only called when `console.error` or also when there is an unhandled exception?

From [the docs](http://phantomjs.org/api/webpage/handler/on-error.html) it seems to be for both exceptions (it uses "unhandled") and `console.error` (your case). As long as `onError` gets unhandled exceptions, it should exit with an error code.

[2015-12-28 03:18] arichiardi commented on #83
You know, I think I saw it exiting on console.error (that was the reason of my PR) as well, but I need to double check.

[2015-12-28 14:43] #87 closed

[2015-12-28 21:05] magomimmo commented on #86
Thanks @bensu I'll take a look to karma as well.

[2015-12-30 20:33] scttnlsn opened #89 "Schemas not being validated"
I'm using [prismatic/schema](https://github.com/Prismatic/schema) and validating the schemas using `cljs-test` fixtures:

[code]

The fixture is being used (i.e. schemas are validated) when I run the tests via a REPL (i.e. `(run-tests 'my.namespace)`) but not when running the tests with Doo.

[2015-12-31 03:19] bensu commented on #89
Thanks for the report! The error might be related to [this comment](https://github.com/clojure/clojurescript/blob/master/src/main/cljs/cljs/test.cljs#L138). Do you have an example repo? It might speed things up.

[2015-12-31 03:20] orther opened #90 "Adding support for Electron through karma."
I have added support for [Electron](http://electron.atom.io/) running tests with the [karma-electron-launcher](https://github.com/lele85/karma-electron-launcher) in my [fork](https://github.com/orther/doo/tree/karma-electron). Before I make a proper pull request, I'd like advice on handling the creation and loading of a shim file.

Please ignore my current crude implementation as I plan to clean a

[2015-12-31 03:32] orther commented on #90
__Why a shim is needed for Electron:__
Electron provides built-in modules for developing native desktop applications and those modules are accessed by requiring the `electron` module like so:
[code]
[code]

When running tests with karma in Electron the `require` function is not available and you will get this error: `ReferenceError: require is not defined`.

**NOTE:** You will only get that error

[2015-12-31 06:59] orther commented on #90
I'd like to mention that if it makes sense, I can just clean up my current code and make a pull request with working code to support running tests in Electron using karma with the shim.

[2015-12-31 15:30] bensu commented on #90
Hi @orther

This is great work. Thank you for doing this and then taking the time to explain it so well!

Re Outline 2.i It is probably necessary to create the file for the shim dynamically even though the contents are static. When doo executes the tests, the file is in a jar, which can be accessed by a Java process but not by Node. It needs to be copied into the file system so that Node can find

[2015-12-31 16:58] bensu commented on #89
This is an upstream issue: I've isolated the error to `cljs.test/use-fixtures` [here](https://github.com/bensu/cljs-fixtures-bug)  without using `doo`. We will probably handle this in the compiler.

[2015-12-31 17:42] bensu commented on #89
I was unable to reproduce the issue in this [example repo](https://github.com/bensu/cljs-fixtures-bug). Can you provide a project that displays the issue? (You could use the example repo as a starting point).

[2015-12-31 17:51] scttnlsn commented on #89
Thanks for looking into this!  I'm also unable to reproduce the issue in your example repo.  I'll try and narrow down the differences with my existing project (where this is not working) and report back here.

[2015-12-31 18:11] scttnlsn commented on #89
My mistake.  I was just passing the wrong namespaces to `doo-tests` (test namespace w/ invalid schemas was not even being run).  Really sorry to waste your time here.

[2015-12-31 18:11] #89 closed

[2015-12-31 18:43] bensu commented on #89
No problem!

[2015-12-31 20:59] orther commented on #90
Thanks @bensu you're response was exactly what I was looking for.

I am pretty close to having the code in shape for a pull request but I am having a problem with the boot tests not passing. Right now boot loads all the files in `src` and `test` directories and runs the test with phantomjs. That will not work for the electron tests/src so I need to exclude specific files. Do you know the best way

[2015-12-31 23:54] bensu commented on #90
To rephrase: boot is adding `src/example/electron.cljs`, `test/example/electron_runner.cljs`, and `test/example/electron_test.cljs` to the compilation which breaks phantom. ClojureScript normally adds only what is necessary to the build, which allows you to solve the problem through `:main`. Is that the problem? Then I don't know how to solve it but @crisptrutski might have an idea.

[2016-01-04 22:58] crisptrutski commented on #90
@orther @bensu Just pushed `0.2.1` of `boot-cljs-test` which fixes usage with karma (and electron)

[2016-01-10 16:03] AshtonKem opened #91 "NullPointerException"
Running lein-do 0.1.6 and lein-cljsbuild 1.1.2 nets the following error:

[code]

I'm running on OSX with Phantomjs 2.0.0 Installed.

[2016-01-11 01:17] bensu commented on #91
Hi @AshtonKem, thanks for the report.

The `cljsbuild` version shouldn't matter. Can you provide an example repository or at least a `project.clj`?

[2016-01-12 23:05] AshtonKem commented on #91
Here's the minimal project.clj that still reproduced the error:

[code]

[2016-01-13 02:28] bensu commented on #91
The compiler options are missing an `:output-to`. I'll add an assert to improve the error message in case that happens.

[2016-01-13 02:41] #91 closed

[2016-01-13 15:29] AshtonKem commented on #91
Excellent, thank you!

[2016-01-16 14:23] DeLaGuardo opened #92 "Using source-paths from different profiles"
Leiningen merge vectors with concat function. Trying to unquote this list raise exception:

[code]

[2016-01-19 13:02] #92 closed

[2016-02-06 18:48] arichiardi commented on #83
We should create a test case for this in doo to be sure and understand the behavior.

[2016-02-07 10:20] vheuken opened #94 "Add option to ignore files (possibly ignore some by default)"
I use vim. Because of the .swp files being written when files save, doo ends up running the tests twice. This is very annoying. An option to ignore certain files would be nice. Perhaps it would also be a good idea to ignore dotfiles by default, since they are seldom important within source directories.

[2016-02-07 14:27] bensu commented on #94
Hi @vheuken,

Thanks for the report, I could reproduce the problem. We should fix it, I'll see where is the best place to do it and get back to you.

[2016-02-12 12:32] joelittlejohn commented on #92
Is there any kind of workaround that should be used for this issue? Is doo unusable until this fix is released?

[2016-02-13 11:04] bensu commented on #92
The fix was released under [`[lein-doo "0.1.7-SNAPSHOT"]`](https://clojars.org/lein-doo/versions/0.1.7-SNAPSHOT)

[2016-02-26 03:11] atroche commented on #86
Could a similar strategy work for nashorn?

[2016-02-26 15:31] bensu commented on #86
Hi @atroche

The strategy is to keep the environment alive and clean it between tests. For Phantom and the browsers we could piggieback on Karma but not for Nashorn since there is no `karma-nashorn-runner`. If there is a way to keep Nashorn alive _and clean the state_ it might be viable, but we would need to implement it.

[2016-03-04 23:29] bensu opened #95 "Document `:debug` and `:verbose`"

[2016-03-04 23:37] ctford opened #96 "Phantom couldn't find the script"
I just added doo to my project - https://github.com/ctford/klangmeister/commit/68a6a7b756297ef68a3219e5053d486c0086aa62

When I try and run the tests, I get the following error:

ctford@champernowne ~/Código/klangmeister $ lein doo phantom test once

    ;; ======================================================================
    ;; Testing with Phantom:

    [doo] Command to run script: [phantom

[2016-03-05 10:58] ctford commented on #96
The problem seems to be based on webpage's treatment of file paths. There is a non-ASCII character in the path where I've checked out the project (`/home/ctford/Código/klangmeister` - note the accent in "`Código`").

So when the temporary js file outputs the HTML with `fs.write(pagePath, html, 'w');`, it isn't found later on with `p.open("file://" + pagePath, function (status) {...}`.

I've verifi

[2016-03-05 12:37] bensu commented on #96
@ctford good catch. As a Spanish speaker, I feel like `Código` should work, but oh well.

When using `:optimizations :none`, the ClojureScript compiler makes certain assumptions about the relative paths between the main file `:output-to` and `:output-dir` which are somewhat tricky when `:output-dir` is not specified. There is an implicit assumption that the dir from where the compiler is called fr

[2016-03-06 21:17] #95 closed

[2016-03-08 01:14] benalbrecht commented on #92
Are you sure about that? According to clojars, the latest version was pushed on Dec 15, 2015.

[2016-03-08 07:29] vheuken commented on #94
Any update on where to fix? I'm going to have some time this weekend to work on it and it'd be nice if you could point me in the right direction.

[2016-03-09 04:16] nidu commented on #60
Any news about this issue? Had the same problem recently.

[2016-03-09 15:15] bensu commented on #60
@nidu can you try with `[doo "0.1.7-SNAPSHOT"]`?

It contains a PR fixing some Windows issues.

[2016-03-09 20:57] bensu commented on #30
@xcthulhu did you find the [wiki article](https://github.com/bensu/doo/wiki/End-to-end-testing-example) useful?

[2016-03-09 21:21] bensu commented on #94
I could reproduce the double trigger using the `cljs.build.api/watch` function as shown [here](https://github.com/bensu/clj-watch-repo)

We should now see if we can solve this at the compiler level.

[2016-03-09 21:35] bensu commented on #94
As a temporal fix @deraen recommends using `set noswapfile` in your vi config.

[2016-03-10 09:07] nidu commented on #60
@bensu thanks! It works now! At least with phantom and slimer

[2016-03-10 09:23] bensu commented on #60
@nidu great!

@conan if you try it and it works, feel free to close this issue.

[2016-03-11 15:08] joelittlejohn commented on #92
@benalbrecht If you're looking at [this page](https://clojars.org/lein-doo), it shows the latest *non-snapshot* version. 0.1.7-SNAPSHOT _is_ available on clojars.

[2016-03-21 08:41] benalbrecht commented on #92
Yes, there is _a_ 0.1.7-SNAPSHOT version of lein-doo on clojars, but that version was released on december 15 as `lein-doo-0.1.7-20151215.193410-2.jar`.
This issue was only fixed on january 19 and is not included in that version.
@bensu could you please release an updated snapshot of lein-doo?

[2016-03-21 09:16] joelittlejohn commented on #92
Ah sorry. I built my own snapshot and published to our own private Clojars so I managed to proceed.

[2016-03-21 11:39] bensu commented on #92
@benalbrecht I was thinking about [`[doo 0.1.7-SNAPSHOT]`](https://clojars.org/doo/versions/0.1.7-SNAPSHOT) which was released with the fix and I though the other snapshot would point to it. I'll cut a new snapshot version this week.

[2016-03-22 06:05] olivergeorge commented on #71
Perhaps it's worth updating the README to make this explicit.  I found this quite confusing... was doubting my setup when the problem was I needed to change a file to see tests run.

[2016-03-24 01:57] xcthulhu commented on #30
@bensu TBH the wiki article is overly complicated.  It never really says what `my-app.system` is... I take it it's just taken from some project.  I've yet to translate this into my own stack.

[2016-03-24 11:37] kamituel commented on #34
I need to get jUnit compatible output from a tests run with Doo/Karma as well. Could you explain what do you mean by "We can add/integrate a cljs.test JUnit reporter to doo in a different project"? Is there such a reference project anywhere? How could I do that?

I also saw https://github.com/bensu/doo/issues/43 and I like the third approach there (merging custom Karma conf with the default one pr

[2016-03-24 17:35] danielcompton commented on #34
@kamituel I use karma directly and a Junit Karma plugin to achieve this.

[2016-03-24 18:36] kamituel commented on #34
@danielcompton Thanks for the reply! What do you mean "directly" - without Doo?

[2016-03-24 22:37] danielcompton commented on #34
Yep, I'll try to write up a blog post on the method.

[2016-03-31 06:43] jgregors opened #100 "Is it possible to include a JS file in a script element in doo-index.html"
I am writing a clojurescript app which contains a "settings.js" file for all my third party configuration etc. This file is created by a script in a build pipeline for test/prod etc and is created locally for development. I serve this file from resources/public on the web server and it is include within a <script>js/settings.js</script> element on index.html and works fine.

I am trying to run tes

[2016-03-31 08:45] bensu commented on #100
Hi @jgregors

Can you look at #25 and see if it solves your problem? If so, I'll find a way to properly document it.

[2016-03-31 11:35] jgregors commented on #100
I saw #25 yesterdau and it seems like this would be the right solution but I have tried it and cannot get it working.  My settings.js file looks like this:

`var CONFIG = {
    SETTINGS : {
        AUTH0 : { CLIENT_ID : "",
                         DOMAIN : ""},
        }
    }
}`

the cljsbuild config:

    ` {:id "test"
                        :source-paths ["src/cljs" "test/cljs"]

[2016-03-31 20:12] jgregors commented on #100
I can get a passing test for including jquery as per your example so I am doing something wrong in regards to the namespacing for what I need. I will work it out. Thanks for getting back to me.

[2016-03-31 20:12] #100 closed

[2016-03-31 21:10] bensu commented on #100
No problem, if you can't figure out just ping me back here with an example repo and we'll take it from there even if it's not doo related.

[2016-03-31 21:50] jgregors commented on #100
Thanks, Sebastian. I have it working now and it is fine for what I need. The example repo in #25 is good for showcasing how to do this and I did see this before raising this issue - I just couldn't work out what I was messing up. Do you think it's worth documenting? If so, let me know if you want me to create a PR.

[2016-04-04 13:17] bensu commented on #96
Hi @ctford

Since this is solved for you and we don't have a burning need to move everything to `/tmp` I'm going to close this issue. If more issues result from the absolute vs tmp decision, I might revise the decision.

[2016-04-04 13:17] #96 closed

[2016-04-04 13:22] bensu commented on #100
I do think it is worth documenting, many people want to add special files for testing. A short wiki article should be enough. Let me know if you have an OS project we could use an example.

[2016-04-04 13:24] bensu commented on #94
@vheuken did `set noswapfile` help out?

[2016-04-04 13:28] bensu commented on #49
Hi @arichiardi

After looking at this again I realize you could just solve it by adding `[doo 0.1.6-SNAPSHOT]` to your list of dev dependencies, and things would properly compile. If you are still having trouble with this, can you try it out?

Otherwise, feel free to close this issue.

[2016-04-04 14:58] arichiardi commented on #49
Yes it was long time ago and solved, thanks!

[2016-04-04 14:58] #49 closed

[2016-04-07 14:23] Peeja opened #101 "`lein doo` by itself doesn't use defaults"
We have our defaults set in our `project.clj`:

[code]

but `lein doo` doesn't use them:

[code]

If I'm reading the code right, that's because [with no arguments, `doo` always displays the help text](https://github.com/bensu/doo/blob/master/plugin/src/leiningen/doo.clj#L195), regardless of whether there are default values available.

[2016-04-10 10:11] lsenta commented on #51
Note that I encounter this issue with `cljc` too,
will this fix the issue for both `clj` and `cljc`?

[2016-04-11 01:07] jgregors commented on #100
Sorry for the slow reply Sebastian. I don't have something OS at the moment
but can easily put together something. That said, I think that your
example/repo in #25 is very clear.

On 4 April 2016 at 23:22, Sebastian Bensusan <notifications@github.com>
wrote:

[2016-04-11 06:36] dmh43 commented on #85
I'm running into this issue as well. I'm struggling to get helpful test errors from doo. I'd like to take a stab at this, @bensu do you have any pointers on where to start to allow for test middleware?

@lvh have you made any progress on this?

[2016-04-11 09:50] bensu commented on #51
Hi @lsenta, it seems that if I manage to solve it at the compiler level it should fix the problem for both `cljc` and `clj` files.

[2016-04-11 09:54] bensu commented on #100
Thanks @jgregors, then I'll look into adding something with that repo.

[2016-04-11 21:58] lvh commented on #85
@dmh43 I haven't attempted to address this.

[2016-04-28 16:35] conan commented on #60
@bensu I just tried this with a new project, encountered the same error, found this page and switched to `0.1.7-SNAPSHOT` and the issue was fixed.  Thanks!

[2016-04-28 16:35] #60 closed

[2016-04-28 21:26] lvh commented on #85
FYI, humane-test-output now supports ClojureScript.

[2016-05-09 19:33] cvermilion opened #102 "Stack traces in PhantomJS"
It would be great for the Phantom error handler to spit out stack traces. It looks like this would be fairly straightforward: https://github.com/figly/doo/pull/1 (that works in Phantom but I haven't checked Slimer).

Obviously source-mapped traces would be more useful but this seems trickier -- I got something working here: https://github.com/figly/doo/pull/2, but it's currently a giant mess, basi

[2016-05-12 17:30] metasoarous commented on #51
Awesome that you're working on this; Status updates?

I'm working on a bunch of cljs macros, and it's sooo painful...

[2016-05-12 20:15] bensu commented on #51
Hi @metasoarous

We need to go to `cljs.build.api/watch` and call something like [this function](https://github.com/clojure/tools.namespace/blob/master/src/main/clojure/clojure/tools/namespace/reload.clj#L15) when `clj` and `cljc` files need to be reloaded. I'll eventually get to it, but I don't know when since I've been super busy lately.

[2016-05-12 20:19] bensu commented on #102
Hi @cvermilion

Thanks for your interest and preliminar work. To add proper stack traces is in the roadmap, I just haven't found the time to do it myself. If you want to submit a PR, even as a draft we can review it together and see what is missing.

[2016-05-12 20:21] bensu commented on #101
Hi @Peeja

Sorry for the delay. You are right, there is an inconsistency between the docs and the behavior. It should be help only if there is no default `js-env`.

[2016-05-12 20:48] metasoarous commented on #51
OK; Sounds good. Looking forward to it :-)

[2016-05-14 08:16] sooheon opened #103 "java.lang.NullPointerException"
Similar to, but with different stacktrace from #91.

[code]

Of note, I'm using boot, not lein. [build.boot] (https://gist.github.com/b16af00b2468a81e65802312d371e600).

Specifically, adding the [cljs-ajax "0.5.4"] to :dependencies and :requiring ajax.core causes the NullPointerException while testing; I can confirm that it doesn't occur without those steps.

[2016-05-15 13:33] bensu commented on #103
Hi @sooheon,

#91 is a `lein-doo` issue where the plugin passes a bad `:output-to` to the script runner. While solving that, I left the assert at the plugin level but it might be more sensible to add it also inside of `doo.core/run-script` as to guard for your case as well.

As for the underlying cause of your problem, it is probably related to `boot-cljs`, `boot-cljs-test`, and your configuration

[2016-05-31 07:59] magnars opened #105 "Debounce test running?"
Hi!

Thanks a lot for doo - finally a test runner for cljs that works great. :)

One of the things I really love with doo is how fast it re-runs my tests after a save. However, it is so excellent in this, that if you perform many file changes at once (eg with "save all" or when changing branches), doo will run all the tests many times - once for each change.

Maybe the test runner could have a sof

[2016-05-31 17:07] bensu commented on #105
Hi @magnars,

That sounds like a great idea. Do you know of any other tools that implement this? (don't need to be Clojure, but more readable if so)

[2016-05-31 18:55] magnars commented on #105
I haven't had the same issue with other test frameworks. That might be because they are slower in detecting changes, tho. I don't know their internal workings.

I see that you're using `cljs.build.api/watch` to be notified of changes. I wonder what would happen if you just passed a debounced function to `:watch-fn`.

I'd be happy to try out a few things and report back to you, possibly with a pull

[2016-06-01 07:13] bensu commented on #105
Yes, `:watch-fn` would be a good place to wrap with a bounced function. There are some reasons to look for a guideline implementation:

1. The default bounce time (50ms seems ok)
2. Some API decisions like "is the bounce always on?" or "should the bounce time be configurable?"

I am definitely interest. Any progress you can make will speed things along, since I am running behind with general maint

[2016-06-02 21:02] ericfode opened #106 "Update to 1.9.14 and test with cljs.spec"
When I use lein-doo runner with cljs.spec it improperly displays the output from instrumentation. All of the newlines are escaped.

(running on nodejs)

[2016-06-04 19:21] bensu commented on #39
Slimer's `0.10` is [here](https://github.com/laurentj/slimerjs/releases) and solves this issue, but it hasn't made its way to convenient installation methods like `brew` or `npm` yet.

[2016-06-04 19:29] bensu commented on #94
Closing this due to inactivity.

[2016-06-04 19:29] #94 closed

[2016-06-04 19:30] bensu commented on #47
Closing until somebody actually hits this problem.

[2016-06-04 19:30] #47 closed

[2016-06-04 19:31] #79 closed

[2016-06-04 19:42] bensu commented on #72
@danielcompton after looking at this again, Karma first shows `"Executed 0 of 7"` and then changes `0` to `7` as the tests are run. I haven't researched it enough, but there is not much we can do about it.

[2016-06-04 19:42] #72 closed

[2016-06-04 21:54] bensu commented on #86
Hi @magomimmo,

I tried to use Phantom and Slimer throught Karma and succeeded for `lein doo karma-phantom test once` but it fails in auto mode. I don't have time to research this further but if you are interested, the work is in [this branch](https://github.com/bensu/doo/tree/karma-phantom).

Feel free to reopen this issue if you are willing to work on it, or if you desperately need this feature.

[2016-06-04 22:08] #103 closed

[2016-06-04 22:12] bensu commented on #90
@orther Any progress? I recently attempted adding `karma-slimerjs` and `karma-phantomjs` in [this branch](https://github.com/bensu/doo/tree/karma-phantom) which might be useful for this enhancement.

[2016-06-04 23:26] #101 closed

[2016-06-05 03:31] bensu commented on #30
@xcthulhu I edited the wiki to have a slower pace and explained a few of the requirements. Closing this for now.

[2016-06-05 03:31] #30 closed

[2016-06-05 05:25] bensu commented on #90
@orther the latest master has now a beta implementation of `electron`. Would you mind trying it?

It implements the bare minimum from your fork, and if you are up for it we could continue to add work from your fork.

[2016-06-05 05:26] bensu commented on #86
Hi @magomimmo,

Karma Slimer and Karma Phantom are now in master. Do you mind trying them out? For example:

`lein doo karma-phantom test auto`

[2016-06-05 06:16] bensu commented on #102
It looks like the `pr-str` is the culprit. In JavaScript doing `error.toString()` prints `"Error: the error's message"` but doesn't show the stack trace. We need to override `cljs.test`'s formatter function from doo or reach into `cljs.test` to call some other function when an error is to be formatted.

[2016-06-05 06:20] bensu commented on #102
Also related is [CLJS-1255](http://dev.clojure.org/jira/browse/CLJS-1255)

[2016-06-05 08:56] orther commented on #90
@bensu I switched my focus to mostly JS (paid projects) over the last couple months but I've been meaning to get back to CLJS hobby project(s). I welcome this as a catalyst!

I have pulled the master branch and can successfully run the core tests in Electron. I am working on getting the Electron tests from my fork to run/pass. Once I get the Electron tests working I'll let you know and/or make a p

[2016-06-05 10:33] orther commented on #90
I have created a new branch on my fork based on upstream master and added the changes to support electron testing here: https://github.com/orther/doo/tree/electron-test

You can see I added a shim file and build-ids to use it.

[2016-06-05 14:11] Peeja commented on #101
Thanks!

[2016-06-05 17:29] bensu commented on #90
Great!

I like the tests but I see that adding the shim implies many other changes. Why is the shim necessary and is it common to *all* ClojureScript Electron projects?

I try not to add shims if we can avoid it.

[2016-06-05 17:56] orther commented on #90
You can see why the shim is required in my first comment of this issue here: https://github.com/bensu/doo/issues/90#issuecomment-168115555

It would be great if instead of putting the shim in the library, the require error could be fixed in the (example) project but I haven't found a way to do that. I haven't looked into this for some time so I can't fully remember the details and just copied over

[2016-06-05 18:13] bensu commented on #90
Hi @orther,

You are right, you were perfectly clear about the shim. Sorry for the oversight. After a third look, the shim looks good. It is probably related to how Karma evaluates the test code inside the JavaScript environment, and the need to reach the top window frame where the special Electron objects where added.

The code is ready for a PR. I'll ask you to change is that if you are moving `

[2016-06-06 02:53] orther commented on #90
I'll try to clean this up and create PR tomorrow afternoon.

[2016-06-08 16:32] conan commented on #60
Is there a release of doo expected soon?

[2016-06-08 19:20] orther commented on #90
I also wanted to mention that I am going to look into http://electron.atom.io/spectron/ and if it makes sense to support it with doo.

[2016-06-13 07:44] cdorrat commented on #43
Pull request [108](https://github.com/bensu/doo/pull/108) hasn't been reviewed yet but it adds the ability to add arbitrary config to karma.conf.js by adding it to project.clj. I'm currently using it to define custom lanchers and change the karma server host name without any issues.

[2016-06-17 01:43] nyoung-figly commented on #92
just hit this issue, but didn't find this thread until after I had already worked out a workaround using `^:replace` in project.clj and created a patch with a bit of a different approach, using `unquote-splicing` (`~@`).

For anybody googling in the future, the workaround looked like this:
[code]
where you have to provide the entire value to replace, not just a seq of items to add to the base prof

[2016-06-27 17:56] moea opened #109 "Compile-time stdout corrupts JS output"
More of a question that an issue.  I've got a dependency (Timbre) which conditionally writes to stdout at compile time.  While that may not be a fantastic idea itself, when doo compiles my build the console output is redirected to the source file.

[code]

The middle line being the problem.  Thoughts?

Compiling via `lein doo node test-none once`, project file is [here](https://github.com/nervous-

[2016-06-27 19:54] bensu commented on #109
Hi @moea,

Does this happen when using `cljsbuild` or the compiler directly?

[2016-06-27 22:02] moea commented on #109
Hey!  I didn't try using the compiler directly, but no, it doesn't happen with cljsbuild.  w/ cljsbuild I see the compiler's console output and the print statement, which w/ doo is I guess is swallowed by whatever `leiningen.core.eval` is doing with subprocess output - which I can't really follow.

[2016-06-27 22:46] bensu commented on #109
Thanks for the quick reply!

This is a doo issue then. It is important to redirect the standard output of some process to get the error reporting, but the compiler should fall into that. I'll look into it and see what is the best way to solve it.

[2016-06-29 00:09] BlanceXR opened #110 "cannot include foreign libs?"
I have the following lib declared in `project.clj`
[code]

[2016-06-29 00:16] #110 closed

[2016-06-29 00:17] BlanceXR commented on #110
I'm so dumb. I forgot to put cljsbuild at the test build

[2016-06-29 05:47] viebel opened #111 "Testing javascscript code with `doo`"
I'd like to test `javascript` code with `doo`.

The trick I thought about was to include the `javascript` file as a `:preamble`. Like this:

[code]

The problem is that `:preamble` is not supported in `:optimizations :none`. And it cause the auto build of `lein doo` to be a bit slow (around 7 seconds).

Is there a better way to include `javscript` file with `doo`?

[2016-06-29 07:04] bensu commented on #111
Hi @viebel ,

Can you check if using `:foreign-libs` as explained in #25 solves your issue?

[2016-06-29 10:41] viebel commented on #111
It works like a charm!

[2016-06-29 17:51] bensu opened #112 "Document `:foreign-libs` for JavaScript"
Issues like #25 and #111 are the result of no docs on how to add javascript code to `doo`.

[2016-06-29 17:51] bensu commented on #111
Great! I should document this then (#112)

[2016-06-29 17:51] #111 closed

[2016-06-29 18:47] bensu commented on #112
Solved by @viebel with https://github.com/bensu/doo/wiki/Test-&-Include-JavaScript-Code

[2016-06-29 18:47] #112 closed

[2016-07-04 01:06] arichiardi opened #113 "Receiving Assert failed: (map? alias-table)"
Hello Bensu, the last `0.1.7-SNAPSHOT` gives me a weird error:

I checked the code and I don't see what went wrong. Maybe `lein` (I am using `2.6.1`) changed the way they pass the `:alias` key? Btw I don't have any `:alias` key in my `project.clj`...

The error:

[code]

[2016-07-04 01:15] arichiardi commented on #113
I saw that I receive unsurprisingly `nil` so that means that `(map? alias-table)` is too restrictive. I am going to open a PR with the fix

[2016-07-04 06:55] #113 closed

[2016-07-04 07:02] bensu commented on #113
Thanks @arichiardi for the quick report/fix!

I fixed this problem at the plugin layer. I rather maintain a strict contract for the library and manage coercions close to the user.

[2016-07-04 14:49] arichiardi commented on #113
Ok great, is it on the new SNAPSHOT already (just asking, no pressure :smile:) ?

[2016-07-04 15:51] bensu commented on #113
It is.

[2016-07-30 08:15] FossiFoo commented on #83
I just ran into this and console.error definitely terminates all my tests. This was really unexpected behaviour. Using phantomjs 2.0.0.

[2016-07-31 03:34] arichiardi commented on #83
I saw this one brought up again, just want to confirm that replumb has the same workaround for this: https://github.com/Lambda-X/replumb/blob/master/test/browser/launcher/runner.cljs#L17

[2016-09-01 16:08] acron0 opened #115 "Google closure classes not found?"
I'm using `goog.Uri.QueryData` to parse query parameters and when running

[code]
I get this error:
[code]

Which suggests that `.get` isn't found on `qd` (QueryData). Code works fine in dev, just not in test. It's included as such:

[code]

[2016-09-05 03:32] bensu commented on #115
Hi @acron0,

Is `qd` a Google Closure global or an instance of `QueryData` that you made from ClojureScript?

Do you mind providing an example with the most basic Google Closure you can find that would reproduce the error? If the Google Closure classes were not found, it would first fail whenever you construct a GC object, like `new google.Uri(args)` or `new google.Uri.QueryData(args)`

Thanks!

[2016-09-05 15:48] acron0 commented on #115
PEBCAK, sorry

[2016-09-05 15:48] #115 closed

[2016-09-06 22:50] bensu commented on #115
No problem!

[2016-09-07 13:09] xcthulhu opened #116 "Planck"
It would be nice to be able to run tests against Planck, which currently wraps JavaScriptCore.

[2016-09-08 04:05] bensu commented on #116
Yes! PRs for this are welcomed.

[2016-09-26 21:16] agzam opened #117 "testable.js problem"
Can someone help me to get to the bottom of this?

Apparently I'm doing something wrong, can't figure out exactly what:

I have created a sample project here: https://github.com/agzam/try-doo-with-spec

I know this is much to ask,  I would be forever grateful if you help me.

- clone it,
- start `lein repl`,
- run `(start)` - it would start figwheel repl,
- navigate to `localhost:3333` - and you s

[2016-09-27 00:10] agzam commented on #117
it's like doo is 'injecting' its own handler into the ring handler. I don't want that.

[2016-09-27 14:40] bensu commented on #117
Are you trying to use use figwheel and doo on the same cljsbuild config?

[2016-09-27 18:25] agzam commented on #117
`doo` adds something by default, namely it makes Figwheel's Ring handler to act differently. No matter what I do, I can't find a workaround. Look at this file https://github.com/agzam/try-doo-with-spec/blob/master/dev/user.clj This is similar to "sass watcher" script from Figwheel's wiki -https://github.com/bhauman/lein-figwheel/wiki/SASS-watcher.

Whenever lein-doo's dependency added (either as a

[2016-09-28 15:37] bensu commented on #117
I can't reproduce the issue on OSX. With or without `[lein-doo "0.1.7" :exclusions [[org.clojure/clojurescript]]]` I see "Rock 'n' roll!" on `localhost:3333`.

What OS are you using? Would you mind cloning the repo again and testing the steps from scratch to see if it makes a difference?

[2016-09-28 17:28] agzam commented on #117
I'm on OSX 10.11.6. lein --version reports:

    leiningen 2.7.1 on Java 1.8.0_74 Java HotSpot(TM) 64-Bit Server VM

I removed `~/.m2`, `resources` and `target` folders. Run `lein deps -U` then `lein repl` then `(start)`. In every browser I see the same - that error.

[2016-09-28 22:32] agzam commented on #117
@bensu Oh. wow! I have found the culprit.. Something that in my `~/.lein/profiles` borking it!

[2016-09-28 23:05] agzam commented on #117
@bensu I have finally found what was giving me headaches. it turned out to be `https://github.com/zcaudate/vinyasa`, namely injecting `vinyasa.lein`. Huge thanks for helping me out. I was frustrated for not being able to use `doo` which seems to be most popular way of running Clojurescript tests nowadays.

[2016-09-28 23:05] #117 closed

[2016-09-29 14:26] bensu commented on #117
I'm glad it worked out!

[2016-09-29 17:52] agzam opened #118 "test-check's defscpec"
For some reason following code doesn't work:

      (require '[clojure.test.check.clojure-test :refer-macros [defspec]]
              '[clojure.spec :as s])

      (defspec foo-test 100
        (prop/for-all [m (s/gen ,,,)]
          ,,,))

throws messages like this:

      ERROR in (foo-test) (clojure$test$check$generators$call_gen@file:222:1)
      Uncaught exception, not in assertion.
      exp

[2016-09-29 23:09] bensu commented on #118
Hi @agzam

Can you make an reproduction case that I could try?

[2016-09-29 23:55] agzam commented on #118
@bensu
https://github.com/agzam/try-doo-with-spec

Thanks again for helping me. I'll try adding to that another branch (which not using `doo`) where it works.

I really want to use doo though.

[2016-09-30 18:36] agzam commented on #118
@bensu oh... wow... I think I have figured out this one as well! I am so happy it's not a problem with Doo! It's turned out to be this:

`prop/for-all` is a function (I think) based on a macro `for-all*`. So in order it to work you actually need to have `(require '[clojure.test.check.properties :refer-macros [for-all]])`. Again, I might be totally wrong about function/macro thing, yet it seems to

[2016-09-30 18:36] #118 closed

[2016-09-30 19:46] bensu commented on #118
I'm glad it worked out.

[2016-10-08 06:31] ricardojmendez opened #119 ":js-env setting is ignored"
Setting the `:js-env` value on the `:doo` settings map seems to have no effect. When running `lein with-profile test doo` it still asks me to specify the environment.

Tried with both `:doo {:build "test" :js-env :phantom}` and `:doo {:build "test" :js-env "phantom"}`.

Using 0.1.6 for the plugin and 0.1.7 for the library.

[2016-10-08 06:33] ricardojmendez opened #120 "Error attempting to use lein-doo 0.1.7"
Get the following assertion error when attempting to run `lein with-profile test doo phantom` with plugin 0.1.7:

[code]

Version 0.1.6 of the plugin works just fine.  Configuration is simply `:doo {:build "test"}`

[2016-10-12 20:32] timgilbert commented on #39
SlimerJS 0.10.1 is available on homebrew now (and I've verified that `slimer.exit(42)` works correctly). I haven't tried it on CircleCI personally, but I presume it's installable via [this method](https://github.com/alyssaq/blog/blob/master/posts/140525-055606_how-to-run-slimerjs-and-phantomjs-with-circleci.md).

[2016-10-12 22:04] timgilbert commented on #102
Even a very dumb and ugly version of this would be super helpful; right now if there's an exception thrown in any of my files at load-time I get a cryptic one-line error with absolutely no indication of where it is coming from, which makes diagnosis very difficult.

[2016-10-26 16:49] lorddoig opened #121 "URL-encoding in file URI construction for phantom"
It seems that doo constructs an absolute file URI for phantom to open in order to run the tests.  The problem I've run into is that the following is a valid file path on linux: `/home/user/code/feature%2Fbranch` but when such things are passed to the browser as a file URI it interprets the encoding (presumably) as `/home/user/code/feature/branch` which doesn't exist.

This is common when running o

[2016-11-05 04:36] thedavidmeister opened #122 ""WARNING: doo's init function was not set" is misleading"
[code]

This just means that literally any error will print this warning, it does not mean that the init function wasn't set.

[2016-11-06 04:59] bensu commented on #122
Hi,

Thanks for the report. Can you show me an example of an error and its cause that was unrelated to the message? It would be helpful to decide where/if to put that message.

[2017-01-05 16:42] ddellacosta opened #123 "Support multiple profiles?"
I need to have different paths for `phantomjs` depending on the environment my CLJS tests are running in.  It would be nice if I could solve this somehow using profiles, either leveraging the cljsbuild profile config already present with some extra doo-specific options (ideal) or, alternatively, have a doo-config-specific set of profiles, but right now I don't see any workarounds to solve this pro

[2017-01-05 17:40] ddellacosta commented on #123
Nevermind, a colleague showed me how this could be solved easily with leiningen profiles.

[2017-01-05 17:40] #123 closed

[2017-01-13 04:10] thedavidmeister commented on #122
@bensu I literally just had an error in my own code. The cause was a mistake i made.

[2017-01-14 05:38] bensu commented on #122
Hi,

Great! Can you give me a small project that shows that error?

[2017-01-19 09:19] Looveh opened #124 "Pretty print test results"
Is there any option to provide pretty-printed test results, as is done in ex. this project?

https://github.com/pjstadig/humane-test-output

[2017-01-19 09:24] Looveh commented on #124
Scratch that, it is actually documented here: https://github.com/pjstadig/humane-test-output/issues/15

[2017-01-19 09:24] #124 closed

[2017-02-22 15:27] gmp26 opened #126 "Allow multiple build profiles"
It appears to be impossible to configure `doo` if your `project.clj` uses profiles. For example:
[code]

For example `lein doo phantom test once` throws
[code]
because leiningen.doo project builds expects :cljsbuild at top level in project.clj.
[code]

[2017-02-22 16:03] gmp26 commented on #126
Closing this as `lein with-profile test doo phantom test once` works.

[2017-02-22 16:03] #126 closed

[2017-02-23 02:02] bensu commented on #126
@gmp26 I'm glad it worked!

[2017-03-07 11:48] vemv opened #127 "How to access phantomjs's page object"
PhantomJS's `page` object seems to be greatly useful, possibly adding selenium-style intregration testing.
Example: http://phantomjs.org/api/webpage/property/url.html

Doo does create a page object (`p` variable here: https://github.com/bensu/doo/blob/6b2eea3ccee1faea1b2e9c3eb829c97d690354df/library/resources/runners/headless.js#L4).

Is it possible to access this variable inside a cljs.test test?

[2017-03-12 19:48] lsnape opened #128 "Add cljs-repl support"
Lately I've been thinking about how to improve the cljs development and testing workflow. Running cljs tests when the project files change is reasonably straightforward to set up, and is useful for catching regressions in existing tests. But for writing new unit tests we're restricted to the browser we're developing in. This can be a pain because state from the running app leaks in (`js/Document`

[2017-03-15 05:59] luminusian opened #129 "This site can't be reached on http://localhost:9876"
https://github.com/bensu/doo says,

With karma "1.5.0", `lein doo` gives an error:
[code]
http://localhost:9876 says,
`This site can't be reached`

With karma "0.13.19", `lein doo` gives a warning:
`WARN [plugin]: Cannot find plugin "karma-chrome-launcher".`

http://localhost:9876 says,
`Karma v0.13.19 - connected`

[2017-03-20 20:48] pupeno commented on #60
I'm experiencing this issue with doo 0.1.7. My project.clj looks like this:

[code]

And when I run `lein doo phantom` I get this:

[code]

The test runner is very simple:

[code]

Any ideas why this is happening?

[2017-03-23 06:55] pupeno opened #131 "Electron iframe not having require"
I found that `js/require` was not available when running my tests inside in Electron. According to https://github.com/lele85/karma-electron-launcher/pull/5 it should have been there but I was forced to do this to have it:

[code]

[2017-03-23 07:42] pupeno opened #132 "Electron cannot find libraries"
When I run my tests in electron mode I get this error:

[code]

bcryptjs is a library I'm installing with npm. I created pakcage.json both in the root of my project, where the tests are defined and where the tests are compiled to with the corresponding node_modules and it will just not find the libraries.

According to karma-electron-launcher, "If you're using locally-installed Node modules via re

[2017-04-03 10:26] analyticbastard commented on #60
I am also getting this, on Linux.

[2017-04-07 16:13] vemv opened #133 "symbol in project.clj causes ClassNotFoundException"
Hi!

I have my cljsbuild options like this:

`:compiler {:closure-defines {foo.common.env/env "dev"}}`

This seems normal lein syntax. `foo.common.env/env` is quoted (like everything else in project.clj) and it shouldn't be evaluated as a clojure/java class.

`lein repl` and `lein figwheel` accept it. However `lein doo` does not - it tries to evaluate foo.common.env/env, causing a ClassNotFoundExc

[2017-04-20 20:27] grav commented on #60
@analyticbastard I got this because I used `lein doo phantom test` instead of `lein doo node test`. Don't know if your problem is similar

[2017-05-05 08:24] lsenta commented on #122
https://xkcd.com/979/

[2017-05-06 05:10] lsenta opened #134 "Exception in fixtures produces cryptic runs"
When a fixture throws, it looks like doo is crashed or miscompiling.

I'd expect the library to catch the exception and explicitly describe "fixture threw, skipped this module". This would be shown as an error in the final reporting instead of looking like doo stopped.

[code]

[2017-05-10 10:21] logaan commented on #16
I see this issue is closed but isn't the underlying issue still relevant? In an environment like phantomjs we should be able to call `(.-body js/document)` right?

[2017-05-11 01:33] bensu commented on #122
Hi @Isenta

Would you mind providing a repo that shows the error?

[2017-05-11 06:48] lsenta commented on #122
@bensu  https://github.com/bensu/doo/issues/134

[2017-05-11 06:50] lsenta commented on #134
Example repo:
https://github.com/lsenta/budb/tree/doo-demo-134

run `make test-cljs` there, you'll see the doo not set error.

[2017-05-28 02:10] DjebbZ opened #135 "PhantomJS soon abandonned"
The only maintainer stepped down, stating that soon it will get replaced by Chrome headless. Just reporting the info.

https://groups.google.com/forum/m/#!topic/phantomjs/9aI5d-LDuNEhttps://developers.google.com/web/updates/2017/04/headless-chrome

[2017-06-03 14:46] martinklepsch commented on #135
Here are some notes on using headless Chrome with Karma https://github.com/karma-runner/karma/issues/2489

[2017-06-07 15:44] metametadata commented on #133
Maybe you could use string name instead of a symbol? E.g. this define is accepted by both `figwheel` and `doo`:

`:closure-defines {"app.defines.DEBUG" true}`

[2017-06-28 08:18] plexus opened #138 "Add support for JFX WebKit Component"
Since Java 8 any Java distribution comes with a complete Webkit inside it as part of JFX. ([docs](https://docs.oracle.com/javase/8/javafx/embedded-browser-tutorial/overview.htm))

It would be fantastic to have support for that in doo, since it would give people a complete headless browser without having to install anything extra.

The [Sparkledriver](https://github.com/jackrusher/sparkledriver) li

[2017-07-04 10:36] plexus commented on #138
A few notes to myself for later reference:

Running some JS code with SparkleDriver looks like this

[code]

See the [JBrowserDriver docs](http://machinepublishers.github.io/jBrowserDriver/org/openqa/selenium/JavascriptExecutor.html) for getting results back from JavaScript.

To handle the jfx case in doo it might be enough to have a big `(if (= :sparkledriver js-env)` here https://github.com/bens

[2017-07-27 22:24] darkleaf opened #139 "Chromium headless"
How can I run tests with karma-chrome-launcher and [chromium headless](https://github.com/karma-runner/karma-chrome-launcher/blob/master/index.js#L316)?

[2017-07-28 10:38] ransomw opened #140 "end to end testing example phantom opts"
i [found](https://github.com/ransomw/emo-mcg/blob/test--doo-phantom/exp/test/clj/emcg/e2e_test.clj#L83) it necessary to modify the [End to end testing example](https://github.com/bensu/doo/wiki/End-to-end-testing-example) from the wiki in order for phantom to make cors requests:

both `--web-security=false` _and_ `--local-to-remote-url-access=true` are necessary to prevent a

[code]

out of phanto

[2017-08-03 17:16] lsenta opened #142 "phantom: process_exit is not an object on cljs 1.9.854"
I get this error when doing a `lein doo phantom once test` with the last / current version of cljs.

[code]

[2017-08-04 09:42] dmcgillen commented on #142
See: https://github.com/bensu/doo/pull/141

[2017-08-27 01:34] thedavidmeister commented on #122
this looks like an example https://github.com/bensu/doo/pull/141

[2017-08-31 19:25] levitanong commented on #117
I'm actually getting the same issue as @agzam now. And I've checked my ~/.lein/profiles and emptied it. Issue still persists T_T If I comment out `lein-doo`, I don't get the `testable.js` error. Any idea what could cause this?

[2017-09-03 04:28] Ruin0x11 opened #144 "Testing React project causes "TypeError: undefined is not an object""
I have a project that uses React that works fine, but when I try testing it using `lein doo phantom once test`, this error appears and no tests run:

[code]

I tried a fix mentioned earlier of redefining the Javascript error logging function, but it didn't work.

[2017-09-10 21:14] flyboarder opened #146 "Fails on Clojure-Alpha20"
`TypeError: undefined is not an object (evaluating 'cljs.test.report')`

[2017-09-19 00:41] metametadata commented on #146
Seems to still be an issue with `[org.clojure/clojure "1.9.0-beta1"]`.

[2017-09-19 12:16] matthiasn opened #147 "Is this library still maintained?"
Hi, for a while, **doo** has served me well, thanks for that. But now I'm running into more and more issues, e.g. with the latest Clojure versions, and looking at the issues piling up here, I wonder if you have plans to keep maintaining this library? Thanks, Matthias

[2017-09-20 08:43] miikka commented on #147
I'd be happy to spend some time on getting the open pull requests merged (which I believe would already fix the most pressing issues) and on creating a new release, if that helps, but somebody with the keys to the kingdom (i.e. GitHub and Clojars access) needs to be involved.

In the meantime, I noticed that Kira Systems is maintaining a fork at [kirasystems/doo](https://github.com/kirasystems/doo

[2017-09-20 19:17] bensu commented on #147
@miikka I'll give you access now

[2017-09-20 19:19] bensu commented on #147
I'm planning to do a pass to do three things:

- update to the latest Clojure(Script) versions
- merge in outstanding PRs
- add Chrome headless

but if @miikka wants to work on any of those first, please go ahead.

[2017-09-21 05:28] miikka commented on #147
That's a good plan! I'm going to start with Clojure and ClojureScript updates already.

[2017-09-21 05:58] miikka opened #148 "Deploy key missing from Circle"
The build at Circle [are failing](https://circleci.com/gh/bensu/doo/92) when checking out the code:

[code]

I guess this means that Circle's deploy key has been removed GitHub.

@bensu, could you go to [Circle's settings](https://circleci.com/gh/bensu/doo/edit#checkout) and click "Add deploy key"? I think that should make the builds work again.

[2017-09-21 06:26] miikka commented on #146
ClojureScript does not yet work with 1.9.0-alpha20 and later. See [CLJS-2352](https://dev.clojure.org/jira/browse/CLJS-2352).

[2017-09-22 00:23] bensu commented on #148
I just did! Let me know if you need anything else

[2017-09-22 00:23] #148 closed

[2017-09-23 07:04] miikka commented on #139
Support for Headless Chromimum could be added with a pull request similar to #136 .

[2017-09-23 17:39] bensu commented on #117
Hi @levitanong,

Can you please open a new issue with a more detailed description of the error and a minimal project that reproduces it?

[2017-09-23 17:42] bensu commented on #144
Hi Ruin0x11

Can you please provide a minimal project that reproduces the error?

[2017-09-25 06:46] miikka commented on #147
I've now merged #141 to make doo work again with the latest ClojureScript, #143 to add support for managed dependencies, and #136 to add support for Headless Chrome. I believe that the Clojure 1.9 problems are caused by [CLJS-2352](https://dev.clojure.org/jira/browse/CLJS-2352), which will be fixed in the next ClojureScript release.

The rest of the open PRs look good, too, but looks like they nee

[2017-09-25 21:26] vemv commented on #135
This is kind of a good thing, at least PhJS is not a moving target anymore and consequently doo should have at least one stable target.

[2017-09-25 21:28] vemv commented on #147
Happy to see all this progress lately!

Looking forward to a new Clojars release as I'd want to try out chrome-headless.

Cheers - Victor

[2017-09-25 23:47] bensu commented on #139
Closed, now with #136 merged. Thank you @ProjectFrank for putting together the PR and @miikka for merging and moving so many things along!

[2017-09-25 23:47] #139 closed

[2017-09-25 23:48] bensu commented on #135
Thanks for the heads up! Fixed with #136

[2017-09-25 23:48] #135 closed

[2017-09-26 14:53] MatthewDarling commented on #142
With #141 merged, this is probably resolved. It fixed the problem for me, anyway.

@lsenta could you give the latest `master` a try? To do that, clone the repo and run `lein install` first in the `library` directory, then again in the `plugin` directory. Then use `0.1.8-SNAPSHOT` as your version for `lein-doo`.

[2017-09-26 15:13] MatthewDarling commented on #120
Skimming the responsible code a bit, it seems like that assertion is meant to catch not specifying an environment (`lein doo`, without setting a default) or an invalid environment (`lein doo foo`).

`phantom` should be a valid environment alias, though.

Do you have an example repository that shows this behaviour?

[2017-09-26 15:43] MatthewDarling commented on #122
In terms of improving the messaging here, is there more than `(println e)` that is specific to the actual problem that happened? I tried `(println (.-stack e))` but I don't know if that works in all environments.

I've opened #151 to avoid printing the "init function was not set" when it doesn't apply. But if there's other low-hanging fruit to improve the default exception handler, now's a good ti

[2017-09-26 15:59] MatthewDarling commented on #134
I guess to resolve this, there would need to be some intermediate exception handling which says "here's the error which happened in the tests for this namespace".

For those more familiar with the code: Is there a specific part of `doo` which is basically saying, "run one individual test" or "run the tests for this namespace"? Or is that delegated to an underlying library?

[2017-09-26 16:47] MatthewDarling commented on #102
I'm not sure how portable this is, but `(println (.-stack e))` seems to get at least some results for me:

[code]

(with thanks to #134 for providing an example repo)

It's not pretty. And it's got two random blank lines in the middle. The `global code` line plus the `@[native code]` are totally useless. And it's at the JS level rather than CLJS. But at least it gets the CLJS namespaces right, whi

[2017-09-26 16:52] MatthewDarling commented on #147
Regarding the fork at [kirasystems/doo](https://github.com/kirasystems/doo), the only goal we had with that was to merge #141 and #143 so we could integrate `doo` to our CI. Since those have been merged here, the fork's days are numbered :)

If there's anything we should change to let people know "hey go use the main project, not this fork", happy to do that. And of course, it's great to see more

[2017-09-26 18:46] miikka commented on #102
@MatthewDarling, did you try with `{:ua-product :safari}`? That should be [the right parser](https://github.com/clojure/clojurescript/blob/5aa12a3cb965a3657a4d9e58a6c168b8ac8bfc81/src/main/cljs/cljs/stacktrace.cljc) for PhantomJS, which uses Webkit.

[2017-09-26 19:19] MatthewDarling commented on #102
You're right, that is better:

[code]

It's got one glaring error though: it drops the first line of the unparsed stacktrace. In the original, that shows the original test file, which is the most important line since it's the actual error location. There's probably some combination of arguments to `parse-stacktrace` which would fix that, though. I'll try to experiment with it a little bit.

And I

[2017-09-26 19:59] bensu commented on #134
That is delegated to the underlying library:

https://github.com/bensu/doo/blob/master/library/src/doo/runner.clj

The only decision that doo makes is to either run all ns or the selected ns. I think your latest PR might show a better error message for this case.

[2017-09-26 21:00] MatthewDarling commented on #102
Seems like the Safari parser [drops any line that doesn't have `@` in it](https://github.com/clojure/clojurescript/blob/5aa12a3cb965a3657a4d9e58a6c168b8ac8bfc81/src/main/cljs/cljs/stacktrace.cljc#L212-L216). I'm not sure why the `register_test` line doesn't have that though. But it doesn't seem like any of the various arguments to `parse-stacktrace` will avoid dropping that line.

Possibly `doo` c

[2017-09-26 21:26] MatthewDarling commented on #134
Hmm, it seems like `clojure.test` doesn't have a good way to handle this either. Leiningen actually [adds an error message for exception in test fixtures](https://github.com/technomancy/leiningen/blob/master/src/leiningen/test.clj#L101-L104). They replace `clojure.test/test-ns` with a version that catches exceptions and reports them.

I guess it would fall on `doo` to provide that same additional

[2017-09-27 16:07] MatthewDarling commented on #105
Some inspiration could be taken from [`lein auto`](https://github.com/weavejester/lein-auto). The wait time there is 50ms by default, as you suggested, and changing the wait time is done like this in `project.clj`:

[code]

I haven't tried it myself, but I guess you could probably set `:wait-time` to 0. Which would be the same as disabling it. [`:wait-time` is passed directly to `Thread/sleep`](ht

[2017-09-29 08:05] miikka commented on #147
@bensu, I'd like to do a release now. Can you do it, or can you give me access to doo and lein-doo on Clojars so I can do it? (I'm [miikka](https://clojars.org/miikka) over there as well.)

[2017-09-30 05:50] bensu commented on #147
@miikka great! Added you in both groups. Let me know if you need anything else

[2017-10-02 06:04] miikka commented on #147
`[doo "0.1.8"]` and `[lein-doo "0.1.8"]` are now available on Clojars. 🎉

[2017-10-02 06:05] miikka commented on #142
I've now released doo 0.1.8 which should fix this, so I'm closing this issue.

[2017-10-02 06:05] #142 closed

[2017-10-02 11:57] matthiasn commented on #147
Great, working again, thanks!

[2017-10-02 11:57] #147 closed

[2017-10-02 17:52] MatthewDarling commented on #140
Chrome Headless support is available starting with `lein-doo` version 0.1.8 :)

Should the linked tutorial (and others?) be updated to use it, rather than PhantomJS? Any volunteers to do so?

I seem to have permission to edit the wiki. Happy to do the edits if someone else writes the text.

[2017-10-04 05:07] miikka commented on #146
ClojureScript 1.9.946 has been released. I quickly tested doo with it and Clojure 1.9.0-beta1 and it seems to work. Thus I'm going to close this issue.

If I missed something, please reopen this issue with more information!

[2017-10-04 05:07] #146 closed

[2017-10-06 12:55] vemv opened #152 "goog/deps.js and cljs_deps.js not found due to matchers"
Hi!

I'm getting this in karma-chrome and karma-chrome-headless:

[code]
My app is loaded and some code loads/runs fine, but what I get is an incomplete version of my app, due to these 404s surely.

I don't know what a "matcher" is. I don't think I'm setting any specific config.

I'd say one has to include `/test/out/**/*.js`, how to achieve that?

Cheers - Victor

[2017-10-06 15:07] vemv commented on #152
Guessing this has something to do with the TODO in karma.clj, or the code in that ns in general.

Seems a bit fragile unfortunately!

[2017-10-06 17:38] bensu commented on #152
Hi @vemv,

Thanks for the report! Can you please give us a minimal project that reproduces the error?

[2017-10-06 17:40] vemv commented on #152
Will do!

[2017-10-07 06:15] miikka commented on #152
Hi! The matcher warnings are harmless and they aren't related to the 404 messages.

I'm not 100% sure if your problems are caused by the 404 messages, but I know how to fix them. Karma's built-in web server serves the assets under the directory `/base/`. You have to set `:asset-path` for your ClojureScript build accordingly. It's value should be approximately `base/` + `:output-dir`. For example,

[2017-10-07 06:29] miikka commented on #152
Okay, I poked around more and looks like the 404 warnings are harmless as well. When using `:none` optimizations, ClojureScript generates a shim file that points to wrong URLs if `:asset-path` is not properly set, but doo already takes care of this and loads those files from the right URLs.

[2017-10-11 18:46] vemv commented on #152
Hey there! I was hesitating on creating a repro since some setup code is not my property.

Anyway, I could fix the issue with these cljsbuild options (just like you suggested)

[code]

The magic is in the `base`:

http://karma-runner.github.io/1.0/config/files.html

The 404 warnings indeed don't matter much.

Cheers - Victor

[2017-10-11 18:46] #152 closed

[2017-10-11 19:31] vemv commented on #144
In case it helps, chrome-headless gives better stacktraces (not always, but at least you can inspect the file, it's not an opaque `phantom1364156996536148749.js:81`)

[2017-10-11 19:40] vemv opened #154 "Ability to run tests one by one"
Hey there,

I use karma-chome-headless to perform integration tests. This is, I load the whole app and black-box test it, Selenium style.

My setup for this is a bit hacky but it works. Or it mostly does!

I have 3 existing tests (that's my whole suite) that are fine. I implemented a 4th one, which only passes if `doo-tests` only includes that test.

IOW:

`(doo-tests 'a 'b 'c)` -> **always works*

[2017-10-11 21:17] bensu commented on #154
Hi @vemv,

Can you please check if there is anything in Karma that would help us get that behavior?

[2017-10-11 21:53] vemv commented on #154
I will!

In any case, the suggested strategy seems rather universal (karma-agnostic).

Pseudo code. Instead of

`(karma a b c d)`

one would do

[code]

My point is, this might be achievable regardless of what Karma may have.

I realise my request may be a bit whimsical, but who knows, maybe for the maintainers this would be super easy to implement. Ultimately I can give it a shot.

A related miss

[2017-10-18 13:43] ransomw commented on #154
here is a concrete [e2e_test.clj](https://github.com/ransomw/emo-mcg/blob/master/exp/test/clj/emcg/e2e_test.clj#L67-L87) example analogous to what i surmise the issue is about: there are several `deftest`s on the `.clj` side, each corresponding to a different test `.cljs` test namespace.

the proliferation of `deftests` and namespaces (smallish for this project, but potentially large for more comp

[2017-10-29 20:56] vemv opened #155 "'auto' mode with Karma: suite runs again before completion, on file changes"
Hi!

I found out that when running e.g. `lein doo chrome-headless dev` (this is, 'auto' mode), when one touches a file, the test suite will be run again even though the current one may not have finished.

For example, for this never-ending test:

[code]

When I leave the test suite running 'forever' (which won't fail given my `:doo {:paths {:karma "karma --browserNoActivityTimeout 600000"}}` setti

[2017-10-29 21:19] vemv commented on #154
@ransomw cool code! I never thought of calling cljs/build and doo from clojure as part of the test suite.

However we are talking about different things. I was talking about **test namespaces** rather than individual tests.

I originally reported the issue talking about 'tests' (not test namespaces) which I reckon was confusing. Sorry.

My need, in short is that the Karma .html page is loaded from

[2017-10-29 21:22] vemv commented on #127
I don't need this anymore, alleviated this need with chrome-headless

[2017-10-29 21:22] #127 closed

[2017-10-29 21:28] vemv commented on #83
The fault is mostly at React's side - they log warnings as errors, which is quite non-standard. When pointing out this https://github.com/facebook/react/issues/10633#issuecomment-333323186 Dan Abramov suggested to not provoke warnings at all - there are almost no cases where one should ignore them.

At first I opposed this but in the end libraries are meant to be used as intended.

Ultimately one

[2017-10-30 14:58] vemv commented on #155
Btw when I close a long auto testing session I can read this:

[code]

[2017-10-31 01:55] vemv commented on #51
I'm not experiencing this issue (default config, no magic). I can touch a testing macro and suite will reload.

Issue might have become outdated?

[2017-10-31 12:22] FossiFoo commented on #83
I strongly oppose this opinion. It doesn't matter why anything (not just react) logs to the error console, it shouldn't result in test failures imho. Just like logging to console.error in production would not stop the webpage/javascript from executing.

FWIW, react switched their deprecation logs to warn with their 15.6. release, but i think the underlying problem is still valid. simply logging to

[2017-10-31 12:31] vemv commented on #83
Reasonable.

But it also might be the case that this issue is a phantom-ism. Should doo attempt to fix something in phantom?

I would say no...

[2017-10-31 12:44] FossiFoo commented on #83
I found https://github.com/ariya/phantomjs/issues/10150, but from that it seems like the reverse is true and the main issue was for console.error to not log on stderr. They do however place a similar workaround, redirecting console.error to something sane.

Either way, i think that doo should behave similar on all target engines, so yes, i believe it's up to doo to work around this issue.

[2017-11-06 10:52] Sgoettschkes opened #156 "watch-mode auto not working in Vagrant vm"
I'm using Vagrant (a wrapper for virtual machines) for my projects which means each project lives inside a virtual machine. The source code is on my host machine and a mount is created inside the vm to have the code available there too.

Running `lein doo node test once` inside the vm works as expected and running `lein doo node test` works as well (the correct tests are executed and the watcher i

[2017-11-07 14:40] thatismatt opened #157 "Unable to run nodejs tests from alternate directory (not root of project)"
The working directory for my app is `resources/public`. I've tried setting `:exec-path` like this:

    :exec-dir (java.io.File. "resources/public")

The result then of calling `lein doo node test-id` is below (debug is on, you can see the `:output-to` value in the shell command):

[code]

If I run node directly in resources/public everything works correctly.

Which looks to me like the `:exec-dir

[2017-11-08 00:12] vemv opened #158 "Karma Chrome: logging not visible on Linux"
Hi!

Same exact configuration and install procedure on OSX and Linux gives me different results: on Mac console.log is visible, but not on Linux, which makes things harder to debug.

Hopefully it's an easy one, apparently there's a `'--enable-logging',` flag one can pass.

[2017-11-09 21:52] bensu commented on #158
Thanks for the report! Can you try adding `--enable-logging`? If that works well, it'd be a small PR.

[2017-11-09 21:55] bensu commented on #157
I don't remember why node struggles with relative/absolute paths. Did you try using `:asset-path` before `:exec-dir`?

[2017-11-10 12:00] thatismatt commented on #157
Changing the `:asset-path` means the test code loads and runs. But this doesn't fix my issue which is that I want the cwd of the node process when running the tests to be "resources/public". My tests depend on this (we verify our config files as part of the tests, arguably this is bad practise, but it is a nice safety check for the CD system).

I know that there were (still are?) issues in compili

[2017-11-12 03:36] bensu commented on #157
Do you think the expected behavior should be that `:exec-dir` then adjusts the paths of the scripts?

[2017-11-12 09:26] thatismatt commented on #157
That'd certainly seem intuitive to me.

But I'm happy to be told I'm doing it wrong though! (i.e. that using
`:exec-dir` is the wrong approach.)

On 12 Nov 2017 3:36 a.m., "Sebastian Bensusan" <notifications@github.com>
wrote:

Do you think the expected behavior should be that :exec-dir then adjusts
the paths of the scripts?

—
You are receiving this because you authored the thread.
Reply to this

[2017-11-12 22:18] bensu commented on #157
The problem with adjusting the path of the file to be run is that the rest of the paths (internally generated by cljs) will not be updated and that type of inconsistency is hard to resolve. Also, I suspect that changing that behavior would break `boot-cljs-test` so I wouldn't recommend it.

If you want to try something less hacky, you can do `:path "cd resources/public && node"` If that works, gre

[2017-11-13 17:12] thatismatt commented on #157
Thanks @bensu

For others finding this in the future, here is my final solution:

In `project.clj` I point at a custom script:
[code]

The content of the script `node-doo.sh`:
[code]

The end result of all this is that node is invoked with a filename that works (a fully qualified one in this case) and the cwd is `resources/public`.

Finally, it should be noted that `:path "cd resources/public && n

[2017-11-13 17:12] #157 closed

[2017-11-13 23:00] vemv commented on #158
Hey there!

From what I see This would bit a fair bit of experimentation

![image](https://user-images.githubusercontent.com/1162994/32753853-ce4aedc8-c8ce-11e7-95ba-1cdb3582d2bc.png)

[2017-11-13 23:03] vemv commented on #158
(I unintentionally hit Comment too early. Continuing here)

I can give it a shot, but I'd need to know how to have locally hackable copy of Doo attached to a real project.

How do I do that? Lein "checkout deps"?

Thanks - Victor

[2017-11-14 03:41] bensu commented on #157
Great, thanks for documenting the solution!

[2017-11-14 12:50] miikka commented on #158
Yeah, [checkout dependencies](https://github.com/technomancy/leiningen/blob/master/doc/TUTORIAL.md#checkout-dependencies) is a good option. Or you can just run `lein install` in your local copy of Doo, you can then use `[lein-doo "0.1.9-SNAPSHOT"]` in the testing project. It's a bit more cumbersome, though: you need to run it in both `library` and `plugin` directories, and do it each time you chan

[2017-11-14 13:16] miikka commented on #156
Doo uses ClojureScript's [built-in watching functionality](https://github.com/clojure/clojurescript/blob/d4e19bffcd19208997c1ffb14e3077e62eedbdfc/src/main/clojure/cljs/build/api.clj#L207), which is implemented using [java.nio.file.WatchService](https://docs.oracle.com/javase/7/docs/api/java/nio/file/WatchService.html) (the same as Figwheel's watch default settings). WatchService looks at the file

[2017-11-14 13:22] miikka commented on #51
[CLJS-1490](https://dev.clojure.org/jira/browse/CLJS-1490) has been fixed. Therefore I believe this problem can be solved by upgrading to ClojureScript 1.9.198 or later. I'll close this issue now.

[2017-11-14 13:22] #51 closed

[2017-11-14 16:29] Sgoettschkes commented on #156
Thanks for the detailed analysis, miikka. I am using a Vagrant plugin right now and it works well. As you pointed out, this is only a workaround because most of the notifier plugins to not work on all platforms, are error-prone and it's an additional setup step which might get lost.

I appreciate your list of possible approaches and would consider working towards the one you think would be most fe

[2017-11-30 22:57] rkneufeld commented on #34
@danielcompton Did you ever end up doing this?

[2017-12-01 01:09] danielcompton commented on #34
Still on the backlog sorry...

[2017-12-01 20:00] MatthewDarling commented on #34
There are [new alphas out for clojure.data.xml](https://github.com/clojure/data.xml/#installation) that have CLJS support. That should prove helpful for writing a CLJS JUnit test reporter.

I was able to get the CLJS version of `[clojure.data.xml 0.2.0-alpha3]` to read in [an example output file from `test2junit`](https://github.com/ruedigergad/test2junit/blob/master/ghpages/test-results/xml/test2

[2017-12-01 20:36] bensu commented on #34
Hey @MatthewDarling

Thanks! That is exactly what I had in mind earlier in the thread. Overriding the default `cljs.test` reporters is a matter of importing the right multimethods implementing JUnit reporting (or any other format for that matter). The reporter could live on a different project to be required by users that want to use JUnit (optionally that project could be a folder in this repo).

[2017-12-02 01:11] rkneufeld commented on #34
Good stuff. I might have some bandwidth to look at this at work next week. Any code you can share @MatthewDarling?

[2017-12-04 17:43] MatthewDarling commented on #34
There's not much in it, but I've put up what I had so far [over here](https://github.com/MatthewDarling/xml-in-cljs-examples/blob/master/src/cljs_xml/core.cljs). Basically just proving to myself that parsing + emitting work.

Starting from [here](https://github.com/MatthewDarling/xml-in-cljs-examples/blob/master/src/cljs_xml/core.cljs#L145) is an EDN-syntax example of what a test reporter should p

[2017-12-13 09:47] Jarzka opened #159 "doo crashes with Clojure 1.9"
I noticed a problem when running frontend tests on my stylefy project:
https://github.com/Jarzka/stylefy

Clone the project and run the tests:
`lein do clean, doo phantom test`
=> Tests are successful.

However, if you change Clojure version to 1.9.0 and run the tests again:
`lein do clean, doo phantom test`
you get:

We are also using doo in Finnish Transport Agency's massive Harja project (https

[2017-12-13 11:39] Jarzka commented on #159
I was able to run tests by upgrading both Clojure (1.9) and ClojureScript (1.9.946)

A warning is still printed though:

#object[TypeError TypeError: undefined is not an object (evaluating 'process_exit.call')]
TypeError: undefined is not an object (evaluating 'process_exit.call')

[2017-12-13 11:49] Jarzka commented on #159
After upgrading cljs-build I was able to successfully compile production build and run tests with doo.

[2017-12-13 11:49] #159 closed

[2017-12-15 17:58] bensu commented on #159
Thanks for the report!

[2018-01-03 12:41] 0xbase12 opened #161 "Subprocess fail with phantom on centos 7"
Way to reproduce:
[code]

[2018-01-04 09:56] miikka commented on #161
Hi! I tried to reproduce this using `centos:7.4.1708` Docker image. I installed the same versions of Leiningen and PhantomJS and followed your script. I don't get `Subprocess failed`, but I don't get the fontconfig warning either.

Could you check out the suggestions in https://github.com/ariya/phantomjs/issues/13433 and see if they help?

[2018-01-04 10:59] 0xbase12 commented on #161
Hello miikka, thanks to your answer, `export LC_ALL=en_US.UTF-8` fixed the issue.

[2018-01-04 10:59] #161 closed

[2018-01-15 17:20] gmp26 opened #162 "add support for :foreign-libs"
It's not clear how to make the new compiler :foreign-libs option  work in a `lein doo phantom test` run.

For example in project.clj:
[code]
where src/js/predict2model.js has the line
[code]
we get the error
[code]
But where should this be declared?

Also, if there's a :global-options key, lein-doo throws a wobbly.

[2018-02-14 06:52] sumbach opened #163 "WARNING: :preloads should only be specified with :none optimizations"
In ClojureScript 1.9.854 and above, this warning is produced during lein doo clojurescript compilation for whitespace/simple/advanced optimizations:

[code]

1. This warning was added to ClojureScript 1.9.293; see [CLJS-1821](https://dev.clojure.org/jira/browse/CLJS-1821)
2. ClojureScript 1.9.854 began adding a `process.env` preload by default; see [CLJS-2280](https://dev.clojure.org/jira/browse/C

[2018-02-15 15:51] Wolfgang51 opened #164 "Test Reporting with Doo"
Hey everyone, my name is Jacob and I have been given the task to test our Clojurescript applications. Currently, we are using "Doo" as our test runner and "Phantom JS" as our environment. One thing I have not been able to find a solution to is how to report our test results (other than just in the cmd). I know there are certain libraries available for formatting test results into JUnit test result

[2018-02-24 19:05] bliksemman opened #165 "Karma: custom file patterns for static resource loading"
Karma supports the option to point to static files. This can be used to host static resources from the webserver. This is useful way to load test data. Especially for applications that have no server backend.

An example of this would be:

`{"pattern" "test/**/*.ogg" "watched" false  "included" false "served" true "nocache" true}`

My use-case is to use this to load audio files. What would be the

[2018-03-03 07:09] miikka opened #169 "Plan for release 0.1.9"
Hey, I have again a bit of time for this project, so I'd like to merge some of the PRs that look ready, and then I'd like to create a release. Specifically:

* [x] First, fix the CI services: #167, #168
* [x] Add support for headless Firefox #160
* [x] ~Add support for karma-coverage #125~ Postponed.
* [x] ~~There's no PR yet, but fixing #163 should be straightforward.~~ PR #170.
* [x] Custom Karm

[2018-03-03 07:12] miikka commented on #165
In #108, there's a suggestion of adding a way to pass arbitrary configuration options to Karma via the `:karma {:config {}}` option. Would that work?

[2018-03-03 07:40] miikka commented on #122
I think that PR #151 (included in release 0.1.8) addressed this issue, so I'll close this.

[2018-03-03 07:40] #122 closed

[2018-03-03 08:15] miikka commented on #165
That's a fair point, although I think that if the configs would be merged with [meta-merge](https://github.com/weavejester/meta-merge) (the same way as Leiningen profiles are), that'd be probably good enough.

I feel a bit uneasy about the templating approach, but I don't yet have have proper arguments against it. You're right, though, it's a very flexible approach. I need to think about it a bit

[2018-03-07 05:53] #163 closed

[2018-03-07 23:37] bensu commented on #164
We have nothing in the works but this thread contains possible solutions:

https://github.com/bensu/doo/issues/34

The gist is that `cljs.test` was built with extensibility in mind and it can handle reporting. Tying `doo` to a different reporting format shouldn't be hard.

[2018-03-09 09:18] miikka commented on #119
With the current version of Doo (0.1.8), there's no `:js-env` setting. The default environment is set by creating an alias called `:default`:

[code]

[2018-03-09 09:18] #119 closed

[2018-03-10 17:12] miikka commented on #169
Change of plans: merged #108, which also addresses #43. Not sure yet what to do with #125.

[2018-03-12 01:15] bensu commented on #120
That sounds like a sensible rule. figwheel has some good error reporting, maybe we should steal it.

[2018-03-12 18:57] miikka commented on #129
Please try installing the Karma plugin `karma-chrome-launcher` with `npm install karma-chrome-launcher --save-dev` and see if that helps.

Since this is pretty old issue already, I assume that you've moved on and I'm going to close this. If it's still a problem and installing the plugin doesn't solve it, please re-open this issue with more information.

[2018-03-12 18:57] #129 closed

[2018-03-12 19:13] miikka commented on #162
Doo doesn't do anything special with the `:foreign-libs` so I believe it should work out of the box. To me this looks more like ClojureScript configuration problem more than Doo problem. ClojureScript's documentation is the best reference for this:

* [`:foreign-libs` configuration option](https://clojurescript.org/reference/compiler-options#foreign-libs)
* [JS Module Support](https://clojurescrip

[2018-03-12 19:13] #162 closed

[2018-03-13 11:37] miikka commented on #169
Now on Clojars: `[lein-doo "0.1.9"]`

[2018-03-13 11:37] #169 closed

[2018-03-13 11:39] miikka commented on #133
Should be fixed in `[lein-doo "0.1.9"]`.

[2018-03-13 11:39] #133 closed

[2018-03-13 11:41] miikka commented on #43
#108 has been merged and it's now possible to pass custom Karma configuration. See [README](https://github.com/bensu/doo#custom-karma-configuration). This feature is included in `[lein-doo "0.1.9"]`.

[2018-03-13 11:41] #43 closed

[2018-03-13 11:47] miikka commented on #165
With version 0.1.9, if you do this:

[code]

the `ogg` pattern is appended to the files configured by Doo. Would this solve your problem?

[2018-03-13 20:48] bliksemman commented on #165
Thanks, this almost works. I made a small fix for the files section (needs to be a vector for the merging to properly work): https://github.com/bensu/doo/pull/173

[2018-03-14 09:25] bliksemman commented on #165
I am closing this ticket because this now works.

[2018-03-14 09:25] #165 closed

[2018-03-14 17:30] metametadata commented on #71
Seems to still be not fixed? I've switched from PhantomJS to Karma and was suprised `lein doo ... auto` works differently.

[2018-03-15 00:19] metametadata opened #174 "How to prettify test reports in Karma?"
In `phantom` I was using [pjstadig/humane-test-output](https://github.com/pjstadig/humane-test-output) to get nice error messages on failures. But in Karma it doesn't seem to work, test failures about comparing big data structures are now unreadable. What is the best way to see nice reports in Karma again?

E.g.:

    (is (= {1 2 3 4} {1 2 3 3 4 5 6 7}))

Output in `phantom` with `pjstadig/humane-

[2018-03-15 01:21] metametadata commented on #174
Hm, seems like I had some conflicts with other deps/plugins. In the end, after clearing up my deps, this combination seems to produce the expected message:

[code]

Closing for now.

[2018-03-15 01:21] #174 closed

[2018-03-15 17:54] bensu commented on #174
Thank you for the report!

[2018-03-23 18:46] awkay commented on #165
Any chance we can get a release on this fix. I need it as well, and 0.1.9 ^:prepend fails because of the lack of a vector.

[2018-04-13 12:39] TimoKramer opened #177 "Error encountered performing task 'doo' with profile(s): 'dev,test,test'"
Hi there,
I encountered this problem a few weeks ago and already asked on slack about it. I was asked to post it here, sorry for the delay. Since I am new to clojurescript I am sorry if it is a trivial error.

Problem is that I can not run my tests with doo anymore. It returns following error:
[code]
my project.clj:
[code]
I would be glad to run my tests again because I guess it is no good not to

[2018-04-22 19:54] nenadalm commented on #24
Looks like it should be solved by: https://github.com/bensu/doo/pull/176

[2018-04-24 17:28] clartaq opened #178 "Test Fail to Run with Reagent 0.8.0"
I'm having problems getting reagent/figwheel/doo-based projects to run tests. As near as I can tell, there is an incompatibility with Reagent 0.8.0.

This problem is present in "hand-built" projects or those generated from popular templates like [reagent-figwheel](https://github.com/gadfly361/reagent-figwheel) or the [reagent template](https://github.com/reagent-project/reagent-template). Using th

[2018-04-26 14:54] clartaq commented on #178
Well, that's sad. I hate to see a tool as popular as PhantomJS left behind. (Nashorn too apparently.)

I've switched to SlimerJS. That's working fine.

[2018-04-26 19:06] briangorman commented on #158
This seems resolved now

[2018-05-01 20:33] mfikes commented on #116
Perhaps `doo` could "absorb" what [`tach`](https://github.com/mfikes/tach) currently does.

One pattern that occurs in projects is that ClojureScript unit tests are written using the `doo-runner` namespace with the `doo-tests` macro, which is ostensibly looks like the `run-tests` macro, but makes things work within the context of `doo`. Projects that are set up this way end up needing to duplicate

[2018-05-02 08:07] bensu commented on #116
Absolutely!

From a quick skim of `tach`, it seems like adding https://github.com/mfikes/tach/blob/master/src/leiningen/tach.clj#L44 in `doo.runner`https://github.com/bensu/doo/blob/master/library/src/doo/runner.cljs#L41 and then adding the `plank` and `lumo` to `doo.core/js->command*` will be the main (only?) integration points needed.

Much of the value of plank and lumo (startup speed) will be

[2018-05-04 07:15] kennethkalmer commented on #177
Is your local phantomjs installation working correctly? Do you get the same error with Chrome or Firefox?

I ask because this just happened to me, but not because of phantomjs. I have a little gulp script that runs as part of the build phase and upgrading node cause this to break, and caused doo to fail with the same exception. Sorting out my little node task made the doo task functioning again.

[2018-05-04 21:10] #116 closed

[2018-05-07 23:53] bensu commented on #177
Hi, @TimoKramer ,

You said "I cannot run them anymore". Can you please post the what has changed between the last time `doo` worked and now?

Also, @kennethkalmer point is relevant, are you sure phantomjs itself is working properties and you don't have other tooling running?

[2018-05-08 10:39] TimoKramer commented on #177
@kennethkalmer thanks for your reply. I didn't succeed setting up karma on my linux so testing with chrome or firefox is not working at the moment. But with rhino it is not working with a different strange error message
`lein with-profile test doo rhino once`
[code]
I asked about this on slack some day but couldn't figure it out as well.

@bensu to be honest it is a few weeks ago that it occured a

[2018-05-08 18:12] huahaiy commented on #20
https://dev.clojure.org/jira/browse/CLJS-1076

This is closed.

[2018-05-08 23:00] bensu commented on #20
Hi @huahaiy ,

Thanks for noticing it!  A PR would be welcome.

[2018-05-11 19:05] metametadata commented on #155
I see the same problem: there're numerous Karma "run"s created and their log outputs interleave.

Also often the whole "lein doo" process fails after several runs, maybe it can be related.

[2018-05-25 13:59] Deraen opened #180 "Printing test failures with records currently broken"
https://github.com/honzabrecka/karma-reporter/pull/18

Printing test failures with Records is currently broken, fipp 0.6.10 has fix for this:

[code]

[2018-05-25 18:47] bensu commented on #180
Should we update to the latest karma-reporter once that is out? Can you please ping us when it is?

[2018-05-29 10:40] Deraen commented on #180
@bensu @miikka Karma-reporter 3.1.0 is now available https://clojars.org/karma-reporter

[2018-05-31 16:51] bensu opened #181 "Use spell-spec and expound for better cli errors"
Following Figwheel's lead, there are two libraries we could use to vastly improve the error messages in doo:

https://github.com/bhb/expound
https://github.com/bhauman/spell-spec

[2018-06-01 11:55] metametadata commented on #178
It looks like Google Closure itself can polyfill `Map` by using [:rewrite-polyfills](https://cljs.github.io/api/compiler-options/rewrite-polyfills) compiler option. But I couldn't figure out how to make it fix the PhantomJS problem. I added these settings to `:compiler`:

[code]

And `cljsjs/babel-polyfill` doesn't seem to have `Map` in externals.

[2018-07-05 22:17] arichiardi opened #182 "Make sure exit code is zero on unhandled promise rejection in node"
Hello @bensu and all!

I know this is controversial and I can handle it myself in my side of the code but I was wondering whether it makes sense to adopt the following solution by default for `:node` targets in case of unhandled promise rejection.

https://medium.com/@dtinth/making-unhandled-promise-rejections-crash-the-node-js-process-ffc27cfcc9dd

Leaving this here for further discussion.

[2018-07-06 09:26] alexanderjamesking opened #183 "junit plugin usage (possibly user error)"
First of all, thanks for your work - doo is great!

I've been trying to set up the junit reporter as per the README, I have installed karma-junit-reporter and configured as follows:

[code]

When running I get:
[code]

Have I missed something?

[2018-07-26 00:41] metametadata commented on #71
After several weeks can confirm that it's not fixed. It often hangs at this stage:

[code]

[2018-08-06 18:19] pesterhazy commented on #71
Same problem as @metametadata: `lein doo chrome myprofile auto` frequently just sits there:

[code]

This doesn't always happen, but most of the time for me. Could we re-open this issue?

A workaround is to use

[code]

[2018-08-06 18:33] miikka commented on #71
Let's re-open. I'm using the `do doo ... once, doo ... auto` workaround as well.

[2018-08-06 19:20] pesterhazy opened #185 "Ability to log the test currently executed"
Is there a way to log which test is currently being executed?

Sometimes a test gets stuck waiting for an async response. Eventually karma disconnects, but I currently have no way of knowing which test caused the runner to hang.

[2018-10-26 08:19] simongray opened #187 "There is no planck support, despite the README stating it"
Support for Planck is advertised in the readme and in the docstrings of the source code, but attempting to use Planck results in this assertion error:

[code]

[2018-11-20 08:10] miikka commented on #187
Now released in `[lein-doo "0.1.11"]`.

[2018-11-20 08:10] #187 closed

[2019-03-06 15:01] Wolfgang51 opened #189 "Issues with testing with Chrome-headless"
Hey there, I am trying to run test using `chrome-headless`. Per the documentation I ran the following commands inside my project

[code]

When I run my tests with `lein doo chrome-headless test once` I get the following error
[code]
I checked to make sure all the modules exist and they do, they are located in  `./npm-modules/`. Moreover, I ran `karma start` inside the `node_modules\.bin` and it di

[2019-03-11 13:45] Wolfgang51 commented on #189
After some digging and debugging I found the issue was with Windows specifically. I have a suspicion that `npm` had updated and installs `karma` in a different directory that it used too. The reason I say that is that the setup of `doo`, `karma` and `chrome-headless` used to work for us. To fix our issue, we manually pointed `doo` to karma by adding the following to our project.clj

[code]

Note:

[2019-03-11 22:17] bensu commented on #189
Thank you! We should update the docs with that information, I will leave this issue open.

[2019-04-04 22:36] cloojure commented on #178
I just tried this, but get an error since it appears slimerjs has not kept up with Firefox:
[code]

[2019-04-19 04:49] nblumoe opened #190 "Error when running Nashorn with `:optimizations :whitespace`"
Nashorn runs with `:optimizations :none` are prevented and show a useful error message:

[code]

When using `:optimizations :whitespace` the runner starts but results in the following error. The same setup with `:optimizations :simple` works though.

[code]

Maybe the assert producing the first error should also catch the whitespace optimization? Or should Nashorn be able to actually run such a se

[2019-08-11 10:04] jafingerhut opened #192 "Consider different method of enabling printing for Node.js"
From some testing with cljs-test-runner, which uses doo, it seems that doo calls the ClojureScript function enable-console-print! during initialization of a Node.js-based ClojureScript runtime.

This has the slight disadvantage that ClojureScript functions like print, pr, and a few others, that should not print a newline at the end of their output, do so.

I believe that if instead when Node.js is

[2019-08-15 10:43] akond opened #193 "Filter tests"
`lein test` allows to filter tests with one of selectors which are defined in `project.clj` in the `:test-selectors` section.
Is it possible to do the same trick with `lein doo`?

[2021-08-30 22:09] Lambeaux commented on #182
+1

Builds were passing in Jenkins despite the tests actually failing.